[2016-08-30 09:24] #350 closed

[2016-09-03 16:40] suyash opened #354 "metrics: add support for PCP"
I was [a part of this year's Google Summer of Code](https://summerofcode.withgoogle.com/projects/#6178186094182400) with the [Performance Co-Pilot organization](http://pcp.io/). PCP, although principally built for reporting low level application specific metrics, also supports instrumentation through a specially configured agent, mmv. My project was to build an instrumentation client library for t

[2016-09-04 18:15] peterbourgon commented on #354
Neat! I'll take a look in the next few days.

This is also true of Prometheus! Just make sure the With invocations are storing the label-values in a way that's retrievable by the observe method, and have the observe method pass the values to the underlying implementation. You can be permissive, and say that required unspecified dimensions get an "unknown" value, and non-required erroneously-specif

[2016-09-04 18:19] peterbourgon commented on #354
Global state is always a bad idea, and in Go kit it's strictly forbidden. So you'll need to find a way to arrange things so that you don't have a package global registry and client. I haven't dug too deeply, but one way might be by encapsulating them in a pcp.Reporter struct, and have the NewMetric constructors be methods on that type.

[2016-09-06 17:25] peterbourgon commented on #263
Oh! This was fixed :)

[2016-09-06 17:25] #263 closed

[2016-09-09 08:30] peterbourgon commented on #354
Great! The design of the new package looks reasonable from a high level.

But—I'd like to have a conversation with you about the design of PCP before I get into more details of what Go kit integration would look like. Something lower-latency than GitHub issues would be ideal: are you on the Gophers Slack? We can also have it here if that's easier for you.

[2016-09-12 13:10] suyash commented on #354
@peterbourgon I have joined the slack channel

To give a general overview of the design, PCP is a low level system monitoring toolkit, the individual systems are monitored through system specific agents, which are programmed in a manner in which they know what to monitor for useful information.

Metrics can be of 2 types, singleton and instance. A singleton metric is just a single value of a parti

[2016-09-12 16:16] peterbourgon commented on #354
Thanks to @suyash and his patient explanations on Slack, I have a pretty good understanding of how PCP works. Let me summarize, primarily for my own retrospective edification :)

Instrumented applications import the speed client, which typically opens a memory-mapped file that's shared by the PCP daemon. Metric observations are simple writes to that file, which are picked up by the daemon. An alte

[2016-09-12 16:31] suyash commented on #354
@peterbourgon just a couple of things

- JSON over web daemon is an alternative for reading, not writing, for writing/reporting metrics there is only one interface, memory mapped files, for reading metric values there are multiple client tools that can send requests to the port the PCP daemon binds to (44321), while the web daemon (44323) is a separate program that can report metric values through

[2016-09-13 08:13] peterbourgon commented on #354
Ah, OK! I'll update my comment above. That means you need only the one constructor.

Here's what I mean:

- https://github.com/performancecopilot/speed/blob/251682b/client.go#L37
- https://github.com/performancecopilot/speed/blob/251682b/config.go#L19
- https://github.com/performancecopilot/speed/blob/251682b/speed.go#L21

To pick one of those, the global logger is problematic because users may no

[2016-09-16 22:03] bgyss opened #364 "Where to set CORS headers?"
Is there a recommended place to set CORS headers for every response in go-kit? My initial inclination would be to fork and set them inside the ServeHTTP function in transport/http/server.go with some changes that resemble the following:

[code]

I would prefer to avoid having to determine the origin separately in every decode request, but I can't really seem to find a way to access the http reques

[2016-09-16 22:06] groob commented on #364
[code]

[2016-09-17 14:46] peterbourgon commented on #364
@bgyss Does that answer your question?

[2016-09-17 15:31] bgyss commented on #364
@peterbourgon Yes, I was able to implement the headers yesterday.

@groob Thanks!

[2016-09-17 15:31] #364 closed

[2016-09-30 13:43] seh opened #366 "File sd/consul/integration_test.go references nonexistent import path"
File [_sd/consul/integration_test.go_](https://github.com/go-kit/kit/blob/9a19822c46c494bdac0944b8e5da6fc8684536e7/sd/consul/integration_test.go#L12) makes reference to a nonexistent import path: ""github.com/go-kit/kit/service”. I noted the problem [here](https://github.com/go-kit/kit/commit/9a19822c46c494bdac0944b8e5da6fc8684536e7#commitcomment-19240903), but figured it warrants an issue.

The f

[2016-10-04 22:14] #366 closed

[2016-10-11 11:01] Fenthick opened #376 "tracing: incorrect HTTP method tag added to tracing span"
The ext.HTTPMethod tag that is set in ToHTTPRequest() function has incorrect value.
Referenced PR fixes that.

[2016-10-12 08:17] peterbourgon commented on #376
Thanks for the contribution! Much appreciated.

[2016-10-12 08:17] #376 closed

[2016-10-16 05:43] jesselurie opened #377 "Is there a way to abort from a before handler func with a custom status code and message?"

[2016-10-16 16:07] basvanbeek commented on #377
Strictly speaking no. The before handler functions allow you to inspect the request payload, headers, etc. and annotate items into context based on this raw data. The first spot where you can abort the operation will then be the decode request function of the individual service method.

You could build a before func that stores the need to abort the operation into context and then have the decode

[2016-10-17 09:25] peterbourgon commented on #377
Just echoing @basvanbeek, the before and after funcs are meant to be used purely to move information from one domain to another. In the case of a before RequestFunc in a server, moving information from the http.Request to the context. You should perform your validation, including erroring out if necessary, in the Decode stage via the decodeRequestFunc, or in the business logic itself.

[2016-10-17 09:25] #377 closed

[2016-10-17 09:57] #341 closed

[2016-10-17 12:50] suyash commented on #354
closing this as #363 was merged

[2016-10-17 12:50] #354 closed

[2016-10-17 16:33] yurishkuro opened #378 "Is it possible to have a factory abstraction for metrics?"
Currently go-kit only defines interfaces for stats objects like Counter/Gauge/etc. The creation of those objects seems to be delegated to concrete implementations, with the only exception being the `Provider` interface, which only allows a single string name for stats.

Is it possible to define a generic tag-based factory, e.g. like this one:

[code]

?

The reason for this is that our tracing lib

[2016-10-19 20:07] peterbourgon commented on #378
The existing provider implementation is a bit of a one off, and I wouldn't like to see it enshrined as a best practice or duplicated in another form. Indeed, I hope to delete it in the long term, as it's only consumer (Gizmo) will hopefully move to a different model.

 What do you think about turning the problem on inside, and having your framework except metric references to which a record things

[2016-10-20 04:14] yurishkuro commented on #378
Injecting individual metrics into the framework is currently the only way with go-kit. I would not say that it's any more valid IOC approach than injecting an [abstract factory](https://en.wikipedia.org/wiki/Abstract_factory_pattern). There are two problems with injecting individual metrics:
  1. As I mentioned above, our library uses a whole set of metrics, specifically 17 of them. That is a lot

[2016-10-20 13:58] peterbourgon commented on #378
The objection is both philosophical and practical. Philosophically I am opposed to anything other than so-called declarative composition as a means of construction. Components or patterns that introduce indirection to object creation make codebases harder to understand as a rule, and it's very important to me that Go kit do the opposite.

Still, I'm not completely unpersuadable; if something impor

[2016-10-20 14:13] peterbourgon commented on #378
And to respond to your points specifically, which may shed more light on the philosophical issues at play here...

I just want to acknowledge that it is indeed more work, and I'm keen to make it easier — to a point :) It is a first-order design goal of Go kit to make constructing and wiring up the object graph of a service an explicit and manual process, in the func main (or equivalent) of the ser

[2016-10-21 05:00] yurishkuro commented on #378
Thanks for the feedback.

I don't know yet which factory API is appropriate to deal with the practical concerns. I'd need to investigate Prometheus API a bit more. On the surface, it seems to make unnecessary assumptions about the structure of the user system by requiring "namespace" and "subsystem" - the user may not even have such concepts, and those users who do have them could easily express t

[2016-10-21 05:04] yurishkuro commented on #378
fwiw, in [Prometheus API](https://github.com/prometheus/client_golang/blob/8aae34f3ffc9a93c75efeaad87bb192aa7750900/prometheus/metric.go#L62) only the "name" of the metric seems to be required
[code]

[2016-10-26 09:19] peterbourgon commented on #378
Thanks for the comments, I've been thinking about them for the past few days. One point of clarification:

I want to draw a distinction between _metrics_ e.g. http_request_duration and the (using Prometheus terminology) _labelset_ of those metrics e.g. method, path, status_code. In Go kit world we want the user to statically define the former, while leaving the code to dynamically set the latter,

[2016-10-26 13:13] yurishkuro commented on #378
Do you mean using `With(labelValues ...string)` methods to pass the labels? I actually tend to consider those as different counters == metrics == time series. But yes, that works fine for my use case 3 "~~metric~~ time series name is not known ahead of time".

[2016-10-26 13:27] peterbourgon commented on #378
Yes; for me metric is the concrete metrics.{Counter, Gauge, Histogram}.

[2016-10-28 13:29] peterbourgon opened #381 "Re-evaluate transport contexts"
gRPC and now HTTP bring contexts along with each request. So it may not be necessary to construct the respective transports with a single parent context. Look in to refactoring those packages. Also, audit the other transports for the same work.

[2016-10-28 13:31] peterbourgon commented on #381
It may be good to provide two implementations of the HTTP transport for pre- and post-1.7.

[2016-10-28 14:05] skeleton1231 opened #382 "can go get github.com/go-kit/kit work?"
I am first time to learn go and use go-kit, such a complicated tool.  can use go get github.com/go-kit/kit  to install and run the example??  @peterbourgon

[2016-10-28 14:10] peterbourgon commented on #382
Please see [the stringsvc example](http://gokit.io/examples/stringsvc.html) to get started. Then, move on to the e.g. addsvc example: `go get github.com/go-kit/kit/examples/addsvc/cmd/addsvc`. Hope this helps!

[2016-10-28 14:10] #382 closed

[2016-10-29 03:27] skeleton1231 opened #383 "how addsvc run client with cmd/main.go"
I have run server
![image](https://cloud.githubusercontent.com/assets/2403591/19826922/a57cc3ec-9dca-11e6-8dd3-07d29369b635.png)

I run "go run main.go 127.0.0.1 8082" and
 return error: no remote address specified
exit status 1

what is correct way to run client?

[2016-10-29 03:38] skeleton1231 commented on #383
go run main.go -grpc.addr 127.0.0.1:8082 -method sum 1 2
problem solved

[2016-10-29 03:38] #383 closed

[2016-11-03 02:29] AA33 opened #384 "Why does the README tag Revel as harmful?"
This was added with #41. No description or benchmarks or references have been provided.
Why is Revel considered harmful?

[2016-11-03 02:30] groob commented on #384
See issue https://github.com/go-kit/kit/issues/350

[2016-11-03 03:06] AA33 commented on #384
Thanks!

[2016-11-03 03:06] #384 closed

[2016-11-03 15:01] #255 closed

[2016-11-04 01:15] hasAdamr opened #386 "addsvcpb no longer builds due to breaking change in grpc"
[code]

Lightstep is also broken but I see an issue already created there. https://github.com/lightstep/lightstep-tracer-go/issues/57

[2016-11-08 23:55] kushtrimjunuzi opened #389 "GRPC transport errors"
There is a situation that I want to retrieve grpc error not fmt.Errorf and looking at the code https://github.com/go-kit/kit/blob/master/transport/grpc/client.go#L93 is returning fmt.Errorf, is there any idiomatic way to retrieve grpc error type when invoking the rpc?

Looking at https://github.com/grpc/grpc-go/blob/master/rpc_util.go#L363 grpc has a method to retrieve error message, we can return

[2016-11-09 08:51] skeleton1231 opened #390 "run stringsvc2 go run main.go but show errors, someone can help?"
➜  stringsvc2 git:(master) ✗ ls -l
total 40
-rw-r--r--  1 huanghaitao  staff   944 10 28 22:15 instrumenting.go
-rw-r--r--  1 huanghaitao  staff   679 10 28 22:15 logging.go
-rw-r--r--  1 huanghaitao  staff  1764 10 28 22:15 main.go
-rw-r--r--  1 huanghaitao  staff   504 10 28 22:15 service.go
-rw-r--r--  1 huanghaitao  staff  1515 10 28 22:15 transport.go
➜  stringsvc2 git:(master) ✗ go run main.

[2016-11-09 08:58] basvanbeek commented on #390
that is correct. since those items are defined outside of `main.go`

please try:
[code]

[2016-11-09 08:58] #390 closed

[2016-11-09 09:00] skeleton1231 commented on #390
thanks a lot!

[2016-11-12 11:23] amitsaha opened #391 "Trouble sending JSON post data to a service"
Hi all, posted my query about having trouble sending JSON body in a POST request [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/go-kit/pLt_qnJsVng/U-sERvByAQAJ). Wondering if I am doing something wrong here or perhaps a hidden actual issue here?

Summarized the problem here:

I am just writing a simple "API Gateway" using the different go-kit libraries. The current

[2016-11-15 00:07] peterbourgon commented on #386
Should be fixed now. Please feel free to re-open if it's not.

[2016-11-15 00:07] #386 closed

[2016-11-15 00:08] peterbourgon commented on #391
From the Go kit mailing list, I'll copy my email:

error. Thoughts?

I didn't get any strong pushback on the thread; any thoughts here?

[2016-11-15 00:09] peterbourgon commented on #389
From the Go kit mailing list, I'll copy my email:

error. Thoughts?

I didn't get any strong pushback on the thread; any thoughts here?

[2016-11-15 00:18] hardcoar opened #393 "metrics.Gauge should get an Add method"
type Gauge interface from pkg ```github.com/go-kit/kit/metrics``` has no field or method Add

hi guys i need help. i want to have reference on the current gauge using native prometheus (i don't want to implement it myself). since only method available on the interface in metrics package is ```Set``` i don't have any reference to the current gauge number.

is strange that pkg metrics/prometheus has

[2016-11-15 00:46] peterbourgon commented on #393
It was my original opinions that Gauges should only support the Set method. But I've discovered that many important uses of Gauges are modeled by +N/-N semantics. For example, consider inflight requests. Right now, you'd have to do

[code]

versus the much nicer

[code]

In the short term you can do as above. In the medium term I think I will need to re-add the Add method to the Gauge interface. M

[2016-11-15 01:09] peterbourgon commented on #391
I don't know what your projects service is, so I've created [this mock implementation in Go](https://gist.github.com/peterbourgon/3933ebefc4f5db39f25e191cb763e586). I start that up and observe that it registers in Consul:

[code]

[code]

I then start your apigateway with the defaults, and observe that it finds the projects service.

[code]

Finally, I send a request to the apigateway. It appears

[2016-11-15 01:13] amitsaha commented on #391
Hi Peter, thanks a lot for your detailed reply. I will do some more troubleshooting.

However, my Python web application could successfully decode/recieve the JSON data when I talked to it via `httpie` or another HTTP client. I will take a look once again though.

[2016-11-15 12:34] basvanbeek commented on #389
I have no objection returning the raw errors and haven't noticed any benefits to Domain errors while working with services in production.

[2016-11-16 10:58] konradreiche opened #394 "Integrate instrumentation of response codes"
I am still looking for a way to instrument the HTTP response codes from each handler. I did not find a way to seamlessly integrate it with the instrumentation middleware since the response code becomes only apparent when the response is encoded.

I was pointed to https://github.com/felixge/httpsnoop though. This still leaves me with a possible sub-optimal solution as the wrapping needs to happen i

[2016-11-16 11:13] basvanbeek commented on #394
http response codes are transport specific and will differ from for instance gRCP or other transport response handling.
Since Go kit abstracts transport concerns from your business logic and thus anything inside your endpoints, you will have to deal with it in your transport response encoding step which can separate what is considered typical http response codes, headers and body payloads.

Typica

[2016-11-16 11:27] hardcoar commented on #394
take a look at pkg ```github.com/go-zoo/duck```. it's very simple and very compatible with go-kit

[2016-11-16 11:28] konradreiche commented on #394
@hardcoar How would that help in this _context_?

[2016-11-17 07:59] peterbourgon commented on #394
I am open to the idea of amending transport/http.Server with something like an optional Finalizer function to perform tasks like transport-level instrumentation. But capturing the status code can only be reliably achieved with an intercepting http.ResponseWriter, and I'm not sure how to hook that up in a sane way. Thinking out loud...

[code]

Thoughts?

[2016-11-22 14:09] serge-v opened #397 "Reset bold font"
https://github.com/go-kit/kit/blob/master/log/term/colorlogger.go#L45 needs code 22 also to reset bold font `resetColorBytes = []byte("\x1b[39;49;22m")`

[2016-11-22 14:31] ChrisHines commented on #397
Thanks for the suggestion. The color logger (as currently written) doesn't have any code to enable bold font. Do you still think code 22 is necessary? Do you have example code that shows when this addition is needed?

[2016-11-22 14:37] serge-v commented on #397
Actually this loop https://github.com/go-kit/kit/blob/master/log/term/colorlogger.go#L61 enables bold attribute for fonts (";1m"). So it should be reset.

[2016-11-22 14:44] ChrisHines commented on #397
OK. Thanks for clarifying. Would you like to submit a PR for this fix?

[2016-11-22 17:31] #397 closed

[2016-11-25 01:51] amitsaha commented on #391
Hello @peterbourgon I finally sat down with this. When I replaced my Python service via your Golang server, it works, all is great. However,  I do *think* there is something wrong in how I am encoding my JSON request to the downstream service (backend) when it is written in a non-Golang language. For example, I tried creating a proxy for `httpbin.org`, so basically, when I make a request to my API

[2016-11-25 09:01] peterbourgon commented on #391
I don't doubt that you're experiencing trouble, but I'm not really sure what you're asking me, and I'm not really sure how I can help. I think we've proven that the apigateway is sending correct/proper JSON requests to its downstream services. If you believe it should be doing something else, can you please be more specific?

[2016-11-25 09:04] peterbourgon commented on #391
Maybe this helps:

No, I think this means you're not _decoding the response_ from HTTPBin into a complete structure. It looks like you're decoding into

[code]

When you want e.g.

[code]

[2016-11-25 13:10] elgris opened #400 "Should metrics expose their name?"
For instance, constructor of `expvar.NewHistogram` receives a `name` as argument. Later, there is no way to get this `name` from created instance. `expvar.Histogram` hides its name in underlying private property `h   *generic.Histogram` which in its turn has `Name` as a public property.

I'm just wondering is there any sense to expose metrics' name through public method `Name`? First, I could use

[2016-11-25 16:58] peterbourgon commented on #400
Package metrics is explicitly designed as a set of write-only interfaces. Hiding the name—or, rather, making it a property of the implementation's construction—is by design. Not all metrics have a single name! For example, expvar metrics are simple and parameterized exclusively on their name, but Prometheus metrics have potentially infinite label cardinality, all dimensions of which are required t

[2016-11-25 22:32] amitsaha commented on #391
Sorry, I don't mean to imply that I want you to fix this without properly understanding what the issue is. If you can, can I please suggest you to write a downstream service in another language (not Golang) and see if it gets the JSON data correctly? I tried with another web application in another language, and it gets an empty JSON body.

Alternatively, if you don't have the time, feel free to le

[2016-11-25 23:04] amitsaha commented on #391
Once I set the `Content-Type` to `application/json`, my second web application can see the JSON body now. So, I guess that was it. My Python web application still cannot decode the JSON correctly, though. But that is not for this issue. I will close it.

Thanks a lot for your help!

[2016-11-25 23:04] #391 closed

[2016-11-26 05:52] amitsaha commented on #391
Finally! I had to set the `Content-Length` in my encoding function for Python to read the request body correctly..

Relevant line: https://github.com/amitsaha/apigatewaydemo/blob/master/apigateway/src/apigateway/main.go#L58

[2016-11-28 11:28] peterbourgon commented on #400
Hopefully that answers the question, such as it was. Please re-open if you still have thoughts :)

[2016-11-28 11:28] #400 closed

[2016-12-01 20:22] bndw opened #402 "Request method specific handlers"
After following the [stringsvc tutorial](https://gokit.io/examples/stringsvc.html), it's unclear how to define distinct handlers for different verbs on the same resource. Specifically, I want to handle both `GET` and `POST` requests in different handlers but am unsure of how to idiomatically achieve this.

[code]
Given the above example code, one approach could use the `request.Method` in `decodeU

[2016-12-02 08:54] xla commented on #402
You would want a a muxer to address that concern a commonly used piece of software for that is [gorilla/mux](https://github.com/gorilla/mux). With the help of that you'd create two distinct handlers for the `GET` and `POST` verbs.

[2016-12-02 12:37] peterbourgon commented on #402
For an example, see [profilesvc transport.go](https://github.com/go-kit/kit/blob/c369f674159e02f22ca276d8503027af2bc27246/examples/profilesvc/transport.go#L47-L53).

Hopefully this answers the question; please re-open if you have more inquiries! :)

[2016-12-02 12:37] #402 closed

[2016-12-02 17:40] bndw commented on #402
That's exactly what I'm after, thank you kindly @xla  @peterbourgon

[2016-12-07 08:17] buptmiao opened #403 "package sd treats every endpoint independently, which is inefficient"
I'm new to go-kit. I saw the code below when I read the apigateway example. I am confused that every endpoint has a respective subscriber, and every subscriber will start 2 goroutines: one watcher, and one loop. Here is the problem, If I have a microservice with too many endpoints,  at client-side the  watchers will watch the same key in parallel. Actually, only one watcher
is necessary. I conside

[2016-12-07 10:28] peterbourgon commented on #403
Yes, this is an inefficiency in the current design. I tried to solve it once with the concept of an instance, but it didn't work out. I'm open to suggestions! Labeling and renaming the issue accordingly.

[2016-12-07 12:33] buptmiao commented on #403
I think the problem is caused by the Subscriber interface definition.
[code]
The method Endpoints returns a endpoints list, which means that a subscriber can determine the transport layer, and it does not make sense.  So, I think the relative definition maybe like this:
[code]
Then the factory is embedded into the retry layer, So, there is a way we can reuse subscriber and balancer for each endpoi

[2016-12-09 01:38] xh3b4sd commented on #394
What I am currently playing around with is this. Go-kit in its ideas is quite cool. What it does not do, and maybe for good reasons, is to provide a guidance on how to structure your code and implement your endpoints. In particular I am missing a common interface that suggests how to implement an endpoint. So I came up with one on my own.

[code]

Every endpoint in my microservice implements this

[2016-12-09 12:49] drscre opened #405 "Logging with request context"
I would like to add some request information to my error log messages (http url / endpoint name / request params)

What is the proper way to do this? With `http.ServerErrorLogger()` I have no access to context

[2016-12-09 13:57] peterbourgon commented on #394
This is an interesting approach, though I view it with some guarded suspicion ;) as the collection of all of the Endpoint "things" into an interface strikes me as an abuse of that primitive. More concretely, you're coupling pure-endpoint-domain concepts (Endpoint, Middleware, arguably Name) with the HTTP transport specifically (Decoder, Encoder, Method, Path) — so maybe you want to call that inter

[2016-12-09 14:02] peterbourgon commented on #405
Where are you invoking your error logging?

[2016-12-09 14:43] xh3b4sd commented on #394
You are right. This is the HTTP transport version. As I see it now this makes sense though. Endpoints somehow have to be transport agnostic. Having endpoint specific configuration flying around in different package is not sufficient from my current point of view. So I think each endpoint should be defined in its own package and does therefore care about the transport it is build for. You can have

[2016-12-09 14:58] peterbourgon commented on #394
I think that you're arguing to couple endpoint+transport as a single thing. But they are decoupled for well-defined reasons. Specifically, there is a lot of value-add that can be applied to abstract endpoints—things like rate limiters and circuit breakers—which are completely independent of transport.

So, to clarify:

Endpoints (in the Go kit sense) _explicitly_ don't care about the transport the

[2016-12-09 15:03] drscre commented on #405
I registered logger using `http.ServerErrorLogger()` when creating `http.NewServer()`

Of course I can log errors via custom error logging middleware. But it will miss request encoding/decoding errors.
I can as well do logging in errorEncoder(), but it does not seem to be an appropriate place.

[2016-12-11 15:22] peterbourgon commented on #405
After review the code and your use case, I think if you explicitly want rich _error_ logging, the correct place to do that is in a custom error encoder. The ErrorEncoder is meant for basic diagnostics, and may even be removable; the error encoder will always be called in case of error, it has access to everything you want, and I think it's the sensical place for this kind of logic.

In #408 I've c

[2016-12-11 15:31] peterbourgon commented on #394
@konradreiche I went ahead and did what I proposed in #408. Care to take a look? I'll merge sometime in the next 48h, modulo any concerns you raise.

[2016-12-11 16:45] drscre commented on #405
Ok, so the only way to get both error and context is to use custom error encoder.

My point about error encoder was that, without looking into the code, its' contract is not entirely obvious. Judging by the name I would expect that it should convert errors to http responses and have no side effects.
But can I be sure that it will be called only once for an error that actually occurs?

Having somet

[2016-12-11 16:57] peterbourgon commented on #405
I think you are giving the transport layer too much responsibility. Ideally, package transport would be responsible for request/response de/serialization and nothing more. Certain out-of-band metadata (e.g. distributed tracing IDs) require additional facilities to move information to/from the context (i.e. Server{Before,After}Func) — but anything more sophisticated than that belongs in your busine

[2016-12-11 18:06] drscre commented on #405
Actually, that's similar to how I do logging now.
First a BeforeFunc moves required details into the context (tracing id, raw request).
Then there is a logging middleware for endpoints that adds endpoint name to context and actually logs errors.

The problem was that this did not catch transport decoding errors. One of my microservices was sending invalid requests that failed at request decoding s

[2016-12-11 18:10] drscre commented on #405
Or, to put it short, I would like transport errors to be logged in the same way the business logic errors are.

[2016-12-12 11:33] drscre commented on #405
What's wrong with supporting transport-level middlewares?
We already have BeforeFunc and AfterFunc, and it seems to me that
BeforeFunc + AfterFunc ~ Middleware

[2016-12-13 22:03] willfaught opened #410 "How do I use this with code that uses the built-in context package?"
It's incompatible with golang.org/x/net/context.

[2016-12-13 22:36] willfaught commented on #410
Never mind, forgot Context was an interface that you can convert to the other. :)

[2016-12-13 22:36] #410 closed

[2016-12-14 03:28] willfaught opened #411 "Counter/Gauge/Histogram.With not documented clearly"
Coming to this documentation with no metrics exposure before this, it's not clear what label values are. They kinda seemed like a namespace prefix at first, but that turns out not to be correct. One or two lines would save newbies a lot of time.

[2016-12-14 03:57] ahmetalpbalkan opened #412 "log: often feeling a need for log.Fatal"
When I use go-kit logger to write small applications/micro-services that have structured logging, I often find myself writing this:

[code]

This is often when I want to fail-fast, such as a wrong configuration value or a fatal failure that I'd rather exit the process with a non-zero exit code right away.

If there was a `log.Fatal(keyvals ...interface{})`  in addition to `log.Log(keyvals ...inter

[2016-12-14 07:17] ChrisHines commented on #412
Thanks for the feedback. We are very happy with and committed to the `log.Logger` interface only having a single `Log` method. We feel that it provides the most general and composable interface for structured logging. I don't see us adding a Fatal method to the API.

Writing a helper function that logs some keyvals and then call os.Exit seems like a fine solution to me if your application calls fo

[2016-12-14 15:34] peterbourgon commented on #411
Can you suggest something? Would it be appropriate to place it in the package-level documentation for package metrics?

[2016-12-14 15:35] #412 closed

[2016-12-14 15:47] #394 closed

[2016-12-14 17:14] ahmetalpbalkan commented on #412
Understood. Thank you.

[2016-12-14 18:47] peterbourgon commented on #389
Closed with #407!

[2016-12-14 18:47] #389 closed

[2016-12-14 18:47] peterbourgon commented on #405
I'm giving this a think.

[2016-12-14 21:46] willfaught commented on #411
I'm not sure I understand it even now. They're some kind of tags that combine with the metric name into a set that identifies a unique timeseries, but only for some impls like Prometheus? Is that right?

Any doc at all would be an improvement. I suppose if you doc the With methods you should doc the Add/Set/Observe methods too, so package doc would be less work.

[2016-12-14 21:55] willfaught commented on #411
It also isn't clear from the doc that some With impls aren't meaningful, like for statsd. Does it make sense to separate With into its own interface that you can check for with type assertions that the impls can opt into?

[2016-12-15 00:03] peterbourgon commented on #411
Thanks. This feedback is already very helpful. I'll take it from here.

[2016-12-15 21:58] hydroflame opened #415 "add a concurrent example to go-kit/log to avoid confusion in the documentation"

[2016-12-15 23:02] peterbourgon commented on #415
I don't understand. Can you clarify?

[2016-12-16 00:22] ChrisHines commented on #415
@peterbourgon I got this one. @hydroflame pointed out to me on Slack that when you read the package docs in godoc the last section is about concurrent safety. That is followed immediately by the package level examples, none of which demonstrate using the concurrent safety feature just discussed. The request is to add an example that shows the use of the concurrent safety features. I asked @hydrofl

[2016-12-17 01:54] AdamJacobMuller commented on #350
While I am not trying to argue against this, I think the current notation on the readme.md is not useful, merely for not being in-depth enough.

This issue is the top result for me on google for "revel considered harmful". I would personally appreciate a more in-depth explanation of what you mean by that? Perhaps there is some other information elsewhere I can reference or you could expound upon i

[2016-12-17 09:40] peterbourgon commented on #350
I added a link to this issue.

[2016-12-18 13:43] #411 closed

[2016-12-18 14:43] peterbourgon commented on #405
I mean you don't need explicit support for middlewares in package transport/http, you can just use them.

[code]

[2016-12-18 14:45] peterbourgon commented on #405
I've also added [PopulateRequestContext](https://godoc.org/github.com/go-kit/kit/transport/http#example-PopulateRequestContext) helper, to get HTTP request details into the context. Hopefully this is enough to help you build something that works :)

[2016-12-19 11:56] drscre commented on #405
With "classic" middleware I don't have errors and i don't have context.

Ok, I will stick to ErrorEncoder

[2016-12-19 11:58] peterbourgon commented on #405
You do have context, with the Context method on http.Request. And you can get errors, by intercepting the http.ResponseWriter.

[2016-12-22 02:26] ahmetalpbalkan opened #418 "log: Log does not play well with errcheck"
The popular [`errcheck`](https://github.com/kisielk/errcheck) utility shows the go-kit Log() lines as errors as the Log function actually returns an error.

[code]

Is this planned to change? I wonder the motive behind returning an error here. I am guessing nobody actually takes action on these errors returned from Log() calls either.

[2016-12-22 05:47] ChrisHines commented on #418
@ahmetalpbalkan We do not plan to change the Logger interface. We had a lengthy discussion on this topic in #164. I plan to document this more explicitly (hopefully soon), which is #346.

[2016-12-22 12:12] xh3b4sd opened #419 "access logging vs error logging"
Here I want to ask a question to get a more clear picture about certain logging approaches. What we currently have is the ability to emit access logs and error logs separately. I would like to question why that is. I think that what I want to do can be accomplished right now, but it would be unnecessarily complicated and would not make code any better.

When some microservice is running and receiv

[2016-12-22 15:03] peterbourgon commented on #419
I would elide this; it is probably better served by instrumentation.

If the error is actionable, this is fine. If the error is not really actionable, it's also better served by instrumentation.

In general, your services should log as little as possible. Logging each request or error, i.e. logging stuff proportional to load, is probably a bad idea. See [Logging v instrumentation](https://peter.bo

[2016-12-22 16:28] xh3b4sd commented on #419
So you say that one should not emit one log line per request, is that right? I understand you suggest to rather emit an increment on some metrics counter. The question is then how these access and error events can be combined to increment a labeled metric. Or what kind of labels do you suggest to emit in case of access and error? Do I need to deal with two different counters here? Then I would lik

[2016-12-22 16:41] peterbourgon commented on #419
In general, yes.

If you're using Prometheus, I think a good default practice is to have something like the following example:

[code]

The histogram automatically provides a _count metric, so you can do all of your rate calculation from that alone. And you can deduce class/domain/type of error based on status_code. For example, decode errors should be 4xx.

You can adapt this example to be a serv

[2016-12-22 18:21] xh3b4sd commented on #419
Is there documentation about the recommendation of not having access logs? I already hear lots of people complaining to not see incoming requests when locking at the logs.

[2016-12-22 18:35] peterbourgon commented on #419
I've linked two blog articles about the rationale in the previous comment. But no doubt it will take some institutional adjustment, for those who are used to verbose access logs.

[2016-12-24 09:59] GrimmKull opened #420 "Move to Standard library Context package"
Context is now a Standard Go library. It is the same code as `golang.org/x/net/context`.
The only thing that is missing is `ctxhttp` used in only for HTTP microservice clients.

I have a suggestion. To add a new branch to the main go-kit repository that uses the standard Context package and the `ctxhttp` implementation.

The code with these changes is available in [GrimmKull fork](https://github.c

[2016-12-24 18:18] peterbourgon commented on #420
Yep, I was waiting for 1.8 to drop and then make the switch in master. I'll start prepping for that now.

[2016-12-30 17:45] YamiOdymel opened #422 "How to get the result(or payload) from `ServerErrorEncoder`?"
I would like output the detail when the error occurred.

[code]

So when the error occurred, I return the detail in the _payload_ section (`"S is empty"`)

[code]

And I have an `errorEncoder` (setted by using `httptransport.ServerErrorEncoder`) to format the error response, but how do I get the `"S is empty"` message in the function?

[code]

Is it possible yet?

[2016-12-30 17:57] #422 closed

[2017-01-05 22:58] fvosberg commented on #328
Hi Peter,

I would love to help you with this issue, but I don't really get what I can do. As I've seen there are basic tests in the packages. Is there a specific case, which you are missing? Or should I configure running tests on a specific server?

Thanks in advance

[2017-01-07 01:37] willfaught opened #423 "log: StdlibAdaptor doesn't parse log line correctly"
file="Serving [::]:8000" message=" with pid 85395"

I'm guessing something in the non-alpha chars is screwing up the regexp matching.

[2017-01-07 01:40] ChrisHines commented on #423
Yes. The `:8000` looks too much like a line number. This is similar to #233.

[2017-01-07 12:57] peterbourgon commented on #328
Hi @fvosberg, thanks for reaching out! You're right, the state of the actual project has accelerated away from this issue, at the moment we have good integration tests implemented for all of sd/{etcd,consul,zk} and [running on Circle](https://circleci.com/gh/go-kit/kit/1115). I'll update the original issue to reflect that.

The only thing left is the tracing stuff, which is tricky! It's slightly l

[2017-01-07 12:58] peterbourgon commented on #418
Hopefully that answers the question! :)

[2017-01-07 12:58] #418 closed

[2017-01-07 12:58] peterbourgon commented on #419
Hopefully that answers the question! :)

[2017-01-07 12:58] #419 closed

[2017-01-07 13:56] peterbourgon commented on #405
#421 for using stdlib context, currently pending changes in gRPC (argh).

[2017-01-07 13:56] #405 closed

[2017-01-09 19:04] gaplyk opened #424 "One of go-kit dependencies is not goroutine safe"
Got a panic in one of dependencies when 2 routines trying to write metrics:
https://github.com/VividCortex/gohistogram/blob/master/numerichistogram.go#L124

As for author comment it is not goroutine safe:
https://github.com/VividCortex/gohistogram/issues/21

One of the options is to add mutex to generic histogram here:
https://github.com/go-kit/kit/blob/master/metrics/generic/generic.go#L121

[2017-01-09 23:37] willfaught opened #425 "Why isn't DefaultTimestamp using RFC3339Nano?"
I'm curious what the thinking is here. Many things can happen within the same second.

[2017-01-10 08:27] #424 closed

[2017-01-10 16:21] peterbourgon opened #427 "Go kit 0.4.0 release"
**Edit**: Due to lots of feature churn in the last few weeks/months, I've been convinced that it makes more sense to hold off on a 1.0.0 until things settle. Notes in comments below.

—

Hello! I want to cut a v1.0.0 release in the near future. This issue is created per [the request](https://github.com/go-kit/kit/pull/368#issuecomment-271614515) of @ChrisHines to serve as a notice to anyone who ma

[2017-01-10 19:02] pruggera commented on #427
Is some kind of connector architecture planned?  If so, shouldn't this not
be part version 1?

On Jan 10, 2017 8:21 AM, "Peter Bourgon" <notifications@github.com> wrote:

[2017-01-10 20:28] peterbourgon commented on #427
What is a connector architecture?

[2017-01-11 01:53] ChrisHines commented on #427
What will be the compatibility policy after v1.0.0 has been released?

[2017-01-11 02:40] pruggera commented on #427
Connectors would be packages that implement the endpoint, transport, security, and other policies required by calling or called SaaS services like Salesforce.com,  Workday,  ServiceNow, LinkedIn, or Marketo.  The connector architecture describes the wrapping of a SaaS service to call them or the wrapping of the go-kit service to be called by a SaaS services.

[2017-01-11 07:49] peterbourgon commented on #427
@pruggera No, nothing like this is planned.

@ChrisHines I plan to follow typical SemVer rules. Do you think that is sufficient?

[2017-01-11 08:57] peterbourgon commented on #393
Closed in #428. Huge thanks to @dlmiddlecote! Amazing work.

[2017-01-11 14:39] ChrisHines commented on #415
Addressed by #429.

[2017-01-11 14:39] #415 closed

[2017-01-11 14:40] ChrisHines commented on #346
Addressed by #429.

[2017-01-11 14:40] #346 closed

[2017-01-11 14:47] ChrisHines commented on #425
Resolved by #430.

[2017-01-11 14:47] #425 closed

[2017-01-11 14:50] ChrisHines commented on #427
That's good. We shall see if it is sufficient. ;) Do we want to document this anywhere?

[2017-01-11 14:53] #393 closed

[2017-01-11 20:09] willfaught opened #431 "Why no transport/http.EncodeJSONRequest?"
It'd be useful for encoding client requests.

Open to a PR?

[2017-01-11 20:16] willfaught commented on #420
Can't wait!

[2017-01-11 20:17] ziyadparekh commented on #420
How do we use go-kit with go version 1.7.4 in the meantime ?

[2017-01-11 20:18] groob commented on #420
@ziyadparekh you keep importing `golang.org/x/net/context` in your projects.

[2017-01-11 20:20] ziyadparekh commented on #420
The main error it throws is that it cant find the context http package inside the http transport package. And when i try to `go get` the context http package, it throws an error because its not found? Any ideas on what I can do to circumvent these errors?

Apologies for all the questions, but getting the right environment set up is a real pain.

[2017-01-11 20:23] groob commented on #420
Can you post the actual error getting instead of describing it?

The slack #go-kit channel might be a better place to debug this issue.

[2017-01-11 20:24] ziyadparekh commented on #420
@groob Sorry about that. Posted the actual error in an edited version of the comment. I'll get myself set up on the Slack channel as well. In case you didnt see it, here is the error:

[code]

[2017-01-11 20:31] willfaught commented on #420
`go get -u golang.org/x/net/context/ctxhttp` works for me. It doesn't work for you?

[2017-01-11 20:53] groob commented on #420
We did a bit of an investigation on slack. It appears that you can run into some issues if you have `$GOPATH/src/golang/org/x/net` folder, but are missing the subdirectories `go get` starts to cause issues.

[code]

This resolves the issue for me, if anyone else runs into similar errors.

[2017-01-11 21:03] willfaught opened #432 "log: default StdlibAdapter file key should be "caller""
Not "file". To match the naming of DefaultCaller/UTC.

Open to a PR?

[2017-01-11 21:05] willfaught opened #433 "log: default StdlibAdaptor timestamp and message keys shouldn't be terse"
"ts" and "msg" are great for debugging, but not great for standard field names. "timestamp" and "message" would be better, IMO.

Open to a PR?

[2017-01-11 21:10] willfaught commented on #378
FWIW, I've hit this issue as well when making middleware that creates metrics for each endpoint. I've had to restort to passing in stuff like `func(endpointName string) metrics.Counter` for the middleware to use.

[2017-01-11 21:15] peterbourgon commented on #378
That's fair. I've also hit some speedbumps when instrumenting certain types of services. I'd be curious to see a more fully-fleshed out proposal for a registry.

[2017-01-11 21:18] peterbourgon commented on #433
Nope. Brevity is more important than clarity here, at least for defaults.

[2017-01-11 21:19] peterbourgon commented on #432
Hmm, on a first pass, I don't agree. File is considerably less ambiguous; caller could imply a lot of things. But I'm open to being persuaded. @ChrisHines, any opinion?

[2017-01-11 21:19] willfaught opened #434 "log: StdlibAdaptor timestamp value is weird in logfmt format"
It's quoted and doesn't match the RFC3339 format of DefaultTimestamp/UTC:

[code]

[2017-01-11 21:19] peterbourgon commented on #431
I guess I just haven't written enough clients to make it worthwhile. Yes, I'm open to looking at a PR! :)

[2017-01-11 21:21] willfaught commented on #432
Seems to me like the nomenclature should match since they both produce "file:line", whatever the term is. I'm fine with DefaultFile/UTC too.

[2017-01-11 21:21] peterbourgon commented on #434
That's the way the stdlib timestamp comes to us. As far as I can tell, changing it would involve parsing and reformatting as time.RFC3339[Nano]. I'm not sure that juice is worth the squeeze. Do you think?

[2017-01-11 21:22] willfaught commented on #432
Although it's not just the file, it's also the line, so DefaultFile/UTC might be unclear; at least DefualtCaller/UTC implies as much info as file/line.

[2017-01-11 21:44] yurishkuro commented on #378
@peterbourgon my original Factory proposal still seems to be a reasonable approach. There's always going to be a compromise between going for lower common denominator (stats), or the most elaborate construction (prometheus with is subsystem, namespace, and what not) for the factory method signatures. My factory had something in between, name + tags, which I think is the most that the end user code

[2017-01-11 21:58] willfaught commented on #378
While making something basic like my factory func above is simple and fine, it gets to be a lot when needing to make several kinds of metrics at once:

[code]

After typing that a lot, you're probably going to end up writing something like @yurishkuro's Factory for your own use, although maybe it would just be a struct instead of an interface.

Even if go-kit didn't impl Factory for every backing

[2017-01-11 23:28] yurishkuro commented on #378
@willfaught the reason it's an interface is because, in your example, `MyMiddleware` doesn't care which backend implements the metrics, it just needs a simple way of creating them with name (+tags). If you're developing an actual application, you know the backend and can do with a struct, but when you write a shared library (like this middleware example seems to be), you want it to work with many

[2017-01-11 23:44] ChrisHines commented on #432
I would like to note that only StdlibAdapter actually encodes the key string (and provides a default of "file"). The key of "caller" only appears in examples and tests. I don't think it is a big deal, but if forced to choose I would go with consistency and would agree with @willfaught.

[2017-01-12 00:07] ChrisHines commented on #434
The quotes are required by logfmt because of the space in the value.

The date and time [formatting done by the stdlib log](https://golang.org/src/log/log.go#L90) package is hard coded and doesn't even use `time.Format`. We are already parsing in a fashion a regex. It may be possible to do a more thorough job and resolve this issue without loss of performance.

There is a workaround readily availa

[2017-01-12 00:28] willfaught commented on #434
@peterbourgon Ha, I've never heard that phrase before. :D

I was hoping it could be made uniform. It causes stutter in the terminal log output.

@ChrisHines Makes sense; forgot about the space.

Good idea about the workaround. I can use that.

[2017-01-12 00:30] willfaught commented on #378
Right. I just meant that if you were doing it yourself, you'd know the backing service, there would be no need for an interface; but an interface would be needed for a general-purpose abstraction.

[2017-01-12 00:36] willfaught commented on #433
Why?

On Wed, Jan 11, 2017 at 1:18 PM Peter Bourgon <notifications@github.com>
wrote:

[2017-01-12 09:06] peterbourgon commented on #433
Because log bloat is a real and growing ;) concern, and defaults are ubiquitous. If either ts or msg were at all ambiguous as log key names, I'd give pause... but they aren't. For something like this, where you're gonna see the keys on _every log line_ produced by your application, brevity is a virtue. IMO :)

[2017-01-12 09:09] peterbourgon commented on #432
Oh, I see now. Yes, let's be consistent. I'm down with "caller".

[2017-01-12 09:11] peterbourgon commented on #434
Good point. I'm open to this.

[2017-01-12 12:33] groob opened #435 "EncodeJSONResponse does not account for http.StatusNoContent"
The [current](https://github.com/go-kit/kit/blob/44df43eae441b8197be13e2004ccdf535e24b277/transport/http/server.go#L149-L154) implementation of `EncodeJSONResponse` always writes an HTTP response body.
When the status should be `http.StatusNoContent`, there shouldn't be any response body.

In my own code I've done a check like this:

[code]

Should the [EncodeJSONResponse](https://github.com/go-ki

[2017-01-12 12:43] basvanbeek commented on #435
I personally would expect it to play nice with expectations so +1 from me

[2017-01-12 18:24] peterbourgon commented on #435
SGTM!

[2017-01-13 14:39] #435 closed

[2017-01-14 09:21] willfaught commented on #433
Not sure that I follow what you mean about defaults are ubiquitous. Do you mean the "ts" and "msg" defaults?

At a glance, could someone new to a system tell what the name ts means? It doesn't seem so to me: ts could be a collection of times, themes, tweets, or any number of problem domain-specific terms. My concern is that on-call engineers that need to investigate failures in unfamiliar systems

[2017-01-14 10:01] basvanbeek commented on #433
Very much against changing a default. There are people already using Go kit in production and being perfectly fine with the established defaults. Changing them now only makes sense if a large majority of the community sees benefit.

That said, any sane developer would layer and confiugure Go kit to feed it with the proper set-up that their platform needs. If you're not content with the current def

[2017-01-14 10:51] basvanbeek commented on #403
To elaborate more on the inefficiency, the example makes it seem clear cut that @buptmiao's proposal makes a big difference but actually it doesn't. I've provided Peter with a real production examples of both angles implemented and the current SD package implementation for services holding multiple middlewares, multiple functions and SD + LB are easier to build under the current API.

We acknowled

[2017-01-14 14:05] peterbourgon commented on #433
I hear your arguments, @willfaught, I'm just not convinced that "ts" is ambiguous, or in any way "non-production-ready" for a key. But to reiterate @basvanbeek, if "ts" is ambiguous for you or your organization, then that's totally fine—you can create your StdlibAdapter with the TimestampKey("timestamp") functional option, and I think everyone is happy.

I'll close this now since it seems we're ta

[2017-01-14 14:05] #433 closed

[2017-01-17 00:31] willfaught commented on #433
OK, fair enough :)

[2017-01-17 03:54] willfaught opened #441 "metrics: TestCounter/Gauge fails intermittently"
Example:

[code]

[2017-01-17 08:12] #441 closed

[2017-01-17 21:42] #432 closed

[2017-01-17 21:42] #431 closed

[2017-01-18 21:58] willfaught opened #443 "Why does Logger.Log return an error?"
Just curious. What would you do with the error? `log.Logger.Print` doesn't return an error, for example. gometalinter flags calls that don't check the result, which is what got my wondering about this.

[2017-01-18 22:16] ChrisHines commented on #443
See #164.

[2017-01-18 22:16] #443 closed

[2017-01-18 23:37] willfaught commented on #443
Sorry for the dup.

[2017-01-19 01:45] willfaught commented on #164
Agreed.

I think fmt.Println being the way to print to stdout is a bad design. Most don't care about stdout errors because if they happen then there's no point in continuing to run. If you can't print to stdout then something is *really* wrong in most cases. The standard way to print to stdout should just panic instead of returning an error, and if you wanted to actually check for an error, then y

[2017-01-19 20:08] willfaught commented on #443
I posted there instead.

[2017-01-19 20:29] willfaught commented on #164
Instead of having the Log caller deal with the error, why not have the Logger implementor deal with it? If you truly want to do something fancy with Lambda (or whatever) that might fail, deal with it in the Log impl, not at every call site. All the error handling logic for each call just discourages logging to begin with.

[2017-01-19 20:34] ChrisHines commented on #164
Yes, I believe that is the correct approach, as I explained in https://github.com/go-kit/kit/issues/164#issuecomment-163519647. This technique was also recently added to the package documentation in https://github.com/go-kit/kit/pull/429/commits/1b5215d847b40886c1fe6be118d58c9147af6229.

[2017-01-19 21:16] willfaught commented on #164
So if the implementation is dealing with the error, Log doesn't need to return it, right?

[2017-01-20 15:01] ChrisHines commented on #164
If you are asking about the declaration of the `Logger` interface, then no I believe it must declare that the `Log` method has a single return value of type `error`.

If you are asking about the behavior of a particular implementation of the `Logger` interface, then yes it is perfectly valid for it to handle errors it receives and return a `nil` error to its caller.

If you are asking something el

[2017-01-20 16:28] willfaught commented on #164
Did you miss my first post, the one just above the one you replied to?

On Fri, Jan 20, 2017 at 7:01 AM Chris Hines <notifications@github.com>
wrote:

[2017-01-20 16:32] ChrisHines commented on #164
I don't think so. I have replied to both of your two most recent comments on this issue.

[2017-01-20 20:17] seh commented on #427
Please see yet another leveled logging proposal in #444.

[2017-01-20 20:38] willfaught commented on #164
OK. It seemed so because I don't think you've addressed the points made or questions asked there.

I'd at least like to know how it's recommended we properly handle Logger.Log errors in a typical "application logging" context as @peterbourgon described above — that is, there's no reasonable failover logging or reporting mechanism (for example, liberal debug messages). I've no idea.

[2017-01-20 20:42] peterbourgon commented on #164
In a typical application logging context, the failure of a log invocation has no  meaningful effect on the state of the program, and requires no compensatory follow-up action. Therefore, the right thing to do is to ignore the errors. If your linter complains about those ignored errors, then you should reconfigure the linter.

[2017-01-20 20:48] cep21 commented on #164
@willfaught I think a lot has already been said on this topic.  It's just a difference of perspective and it's good to have this public so people can see both sides, but probably not worth it to keep talking till we get consensus :)

This is dangerous advice.  You 100% in all cases want to know if your log messages aren't working.  I have encountered real issues because of this in the past.  See t

[2017-01-20 20:50] peterbourgon commented on #164
Only the Sith deal in absolutes ;)

[2017-01-20 21:32] ChrisHines commented on #164
@willfaught I thought that had been answered, but apparently there is still a disconnect here, so I apologize for that. Obviously I haven't understood the question you are asking, so bear with me.

We have recommended that when you are logging at the application level you ignore the return value of `Log`. That might look something like this:

[code]

Now it seems to me like the question is, "How i

[2017-01-20 22:00] cep21 commented on #164
The alternative implementation is at https://github.com/signalfx/golib/tree/master/log where the logger accepts a fallback `func NewJSONLogger(w io.Writer, ErrHandler ErrorHandler) Logger` and people configure a fallback to do things like increment counters, panic, print to stderr, or a fallback of another logger itself.

In this case, the base interface is
[code]

[2017-01-20 22:05] willfaught commented on #164
I think these are the fundamental disagreement. Like @cep21, I don't think it's acceptable to ignore errors. If an interface method returns an error, you always need to check the error, because there can be multiple implementations, possibly ones that haven't even been written yet or that you'll ever know about. There are at least two common linters I know of that flag unchecked errors (errcheck a

[2017-01-21 18:52] kingishb opened #445 "invalid url for gRPC in docs"
(Cross post from GoKit's docs project -- see: PR https://github.com/go-kit/go-kit.github.io/pull/2)

Hi there!

When I followed https://grpc.io from the docs there was a name mismatch error [1].
It appears the new url is http://www.grpc.io [2].

[1]
<img width="997" alt="cd964f56-dfdd-11e6-9b47-3adf6ffa76d6" src="https://cloud.githubusercontent.com/assets/3827393/22176842/965ee978-dfe0-11e6-9def-2

[2017-01-23 19:53] willfaught commented on #164
@peterbourgon @ChrisHines Any thoughts on my last post? Just want to confirm whether you still disagree.

[2017-01-23 20:26] ChrisHines commented on #164
@willfaught I understand your point but, I still disagree (at least for now). I feel like I've shown multiple examples that demonstrate how a program may be structured to completely mitigate the risk of unhandled logging errors, but I haven't gotten much feedback as to whether I've made my point. I really don't know what else to tell you other than that I'm glad to have had the discussion and I am

[2017-01-25 20:28] willfaught opened #447 "transport/grpc.NewClient assumes service name has prefix "pb""
It's possible for a proto file to have something like this:

[code]

in which case the Go package is pb but the GRPC namespace is github_com.mycompany.myrepo.myservice.pb.

There should at least be an option to override the pb default.

[2017-01-26 02:14] willfaught commented on #164
@ChrisHines Sorry for the delay replying.

Your examples showed how those non-kit libs provide a second, alternative method that discards the error (IIUC). While I suppose that would solve the unchecked error lint problem for Log callers, adding a second method that doesn't return an error would complicate the Logger interface. I think it'd be simpler to have Log be errorless and handle errors in

[2017-01-26 08:17] peterbourgon commented on #164
That would be simpler for the application logging use case, where you don't care about errors at the callsite. It would defeat the purpose of the event logging use case, where a failure to emit a log entry needs to be dealt with at the callsite: some type of retry, a failure of the originating transaction, etc. I understand you believe it's an error to use the same interface for both of these use

[2017-01-26 08:21] peterbourgon commented on #445
Whoa, that's crazy! Okay. Thanks.

[2017-01-26 08:23] peterbourgon commented on #445
Fixed.

[2017-01-26 08:23] #445 closed

[2017-01-26 09:29] basvanbeek commented on #447
The default in Go kit is for the GRPC namespace to be pb. However it is perfectly fine to alter the namespace and do something like:

[code]

[2017-01-26 09:59] peterbourgon commented on #434
I reckon this is finished now that #438 is merged.

[2017-01-26 09:59] #434 closed

[2017-01-26 15:13] ChrisHines commented on #434
Yes, it is finished. But to clarify, #438 was closed without merging.

[2017-01-26 16:20] ChrisHines commented on #164
@willfaught wrote:

It sounds like you are referring to this https://github.com/go-kit/kit/issues/164#issuecomment-163774803; and to be clear I don't believe I argued to discard the errors.

I was more curious what you thought of my response to you here https://github.com/go-kit/kit/issues/164#issuecomment-274185353.

In that comment I demonstrated how a [decorator](https://en.wikipedia.org/wiki/D

[2017-01-28 23:26] willfaught commented on #447
You're right, my bad! I missed the period condition. Thanks.

[2017-01-28 23:26] #447 closed

[2017-01-28 23:53] willfaught commented on #427
Is there remaining work that needs to happen for the context or level tasks?

I have a couple questions about the experimental level package:

- Isn't it possible to unintentionally filter out loggings with keys that aren't actually coming from the level package? For example, `mylogger.Log("error", err)` where mylogger is from `levels.New` and is configured to ignore the error level. The person se

[2017-01-29 19:23] peterbourgon commented on #427
Yes, I need to get around to fixing #421, and I'm waiting for a response on #444.

Yes, but not with that example. You'd need to invoke it like `logger.Log("level", "error", "oops", "this may be ignored")`. But given that we've made the executive decision early on that levels are nothing more than key=val pairs, then I see `logger.Log(..., "level", "error", ...)` as a pretty explicit declaration o

[2017-01-30 10:29] willfaught commented on #164
@peterbourgon Let me make sure I'm on the same page. What do you mean by event logging? How is it different than application logging? Why encompass both in one interface if each is used differently?

Absolutely. I just want to understand your position, and I don't think I do quite yet. (See my above questions.) If you'd rather end the discussion, just say the word. No hard feelings. :) I'm guessin

[2017-01-31 03:36] peterbourgon commented on #164
Quoting myself in my [OK Log introduction](https://peter.bourgon.org/ok-log/),

--

They are vastly more alike than different. They both benefit from structure at the callsite; they both are [modeled as streams](https://12factor.net/logs); they both wind up in aggregation systems. The only significant difference is the QOS and, thus, how you tend to handle errors.

[2017-01-31 08:34] willfaught commented on #164
OK, now I understand! Thanks. :) All right, here are my final thoughts. No worries if you're still unconvinced. I appreciate you all taking the time.

These sound like different things to me: one needs to propagate errors (apparently? see below), and one doesn't. I've argued that if an interface method returns an error, you *have* to check it in the general/library case, which everyone has tacitly

[2017-01-31 14:09] peterbourgon commented on #164
I don't know what "the general/library case" is. I don't agree with your conclusion without qualifications. If you want to provide some value-add wrapper, router, decorator, etc. to the Go kit logger interface in an intermediating library, _and_ you want your intermediating library to be fully general i.e. accommodate both application and event logging, then yes, you must deal with the errors some

[2017-02-04 02:01] peterbourgon commented on #420
Done.

[2017-02-04 02:01] #420 closed

[2017-02-07 20:27] vimalk78 opened #452 "is OSGi on the agenda?"
i find the idea of go-kit to be very interesting. i hope to be able to contribute to it in the future.

i have a question, not sure if this is the right place to ask, os is a right question.

is implementing something like OSGi  on your agenda?

able to define a component, with a defined interface and  be able to import other such components in a component.

start/stop a component at runtime witho

[2017-02-07 20:44] ChrisHines commented on #452
Based on the non-goals stated in the README, this seems out of scope to me. It seems to fall under the last non-goal:

#### Non-goals

- Supporting messaging patterns other than RPC (for now) — e.g. MPI, pub/sub, CQRS, etc.
- Re-implementing functionality that can be provided by adapting existing software
- Having opinions on operational concerns: deployment, configuration, process supervision, or

[2017-02-08 00:20] peterbourgon commented on #452
Definitely not :)

[2017-02-08 00:20] #452 closed

[2017-02-09 17:23] yurishkuro opened #455 "generic.Counter.With() loses the Name"
The With() method returns a new counter with blank name, is that intentional? The behavior was counter-intuitive to me.

[code]

[2017-02-09 21:27] groob commented on #455
Are you passing a `name` key/value  to `With` or just calling `With()` with no args?

[2017-02-09 23:11] yurishkuro commented on #455
I am calling With() with *other* tags, which are not part of the metric name but are additional dimensions for aggregations.

[2017-02-10 00:01] travissalascox opened #457 "add cover.coverprofile to .gitignore"
Just wonder if it is okay to open up a PR with `cover.coverprofile` added to the `.gitignore` file. Or since i noticed there is a `gover.coverprofile` in there currently, i can change it to `*.coverprofile` as a catch-22.

[2017-02-10 00:23] peterbourgon commented on #457
The second option would be fine, if you want! :)

[2017-02-10 00:23] #457 closed

[2017-02-10 00:28] peterbourgon commented on #455
Yep, on first glance this is probably a bug with all 3 generic.Metrics.

[2017-02-10 03:10] #455 closed

[2017-02-10 04:02] peterbourgon opened #460 "transport/http: ability to log response headers, response size, etc."
With [transport/http.ServerFinalizerFunc](https://godoc.org/github.com/go-kit/kit/transport/http#ServerFinalizerFunc), it's possible to log a lot of information about the incoming request—especially when combined with [transport/http.PopulateRequestContext](https://godoc.org/github.com/go-kit/kit/transport/http#PopulateRequestContext).

Using the same mechanism, we can log the status code of the r

[2017-02-10 19:15] mohanraj-r opened #462 "Are there plans to integrate middleware like gRPC REST gateway into go-kit?"
Cool project here!

I am looking to offer both gRPC and REST/JSON support from the same code base and was looking to go-kit for that. I like the abstractions offered by go-kit. But it looks like support for each transport has to be written and maintained separately. It would be cool if go-kit could allowed me to define a service abstraction and then allowed to support multiple transports from the

[2017-02-10 19:46] peterbourgon commented on #462
Go kit already allows you to define a service abstraction and support multiple transports with almost no code duplication. You just have to wire up each transport to your service, with a single transport.Server component per transport, which Go kit provides. What, specifically, are you looking for?

Also, I don't understand what integration of grpc-gateway would look like. Can you say more?

[2017-02-11 04:00] yurishkuro opened #463 "Can the discovery API be de-coupled from the Endpoint?"
This is more of a wish list item, but let me at least describe the use case. In go-kit the discovery API is defined in terms of Endpoints, which can be used directly to make RPC calls. However, there are cases when I want to use *just* the discovery, i.e. finding the locations of other services, because I need to use some other APIs to call those services. Two concrete examples:
  1. my service ta

[2017-02-11 13:59] posener opened #464 "http: serveHTTP has asymmetrical `before` and `after` calls."
In the [ServeHTTP function](https://github.com/go-kit/kit/blob/master/transport/http/server.go#L87), the `before` stack is called before the the decoding of the request and the `after` stack
 is called *before* the encoding of the response.
This is not intuitive, am I missing anything here? I guess that fixing it will cause breaking of a lot of code.
Anyway, wanted to bring this up.
Thanks

[2017-02-11 15:10] groob commented on #464
[code]
I think the comment is pretty clear for how you might use a `ServerBefore` function. I typically use this option with a function that adds information to a context which will be used in handling of the request.

Similarly, the comment on ServerAfter clarifies when the function will be called.
[code]
Is there a specific problem you're trying to solve?

[2017-02-11 18:12] posener commented on #464
Hi, thanks,
There is no specific problem, just a thought.

[2017-02-12 09:26] peterbourgon commented on #464
It's _After_ the endpoint is invoked, but before sending the response to the client. There wouldn't be much point running user code after the response is sent! What could it do? (And we have the finalizer for that.)

[2017-02-12 09:27] peterbourgon commented on #423
Gonna just merge this to #233.

[2017-02-12 09:27] #423 closed

[2017-02-13 02:22] #460 closed

[2017-02-13 04:41] peterbourgon commented on #463
I'm open to a PR for your second approach.

Out of curiosity, how would you model an Endpoint as an interface?

[code]

?

[2017-02-13 05:17] willfaught commented on #463
Handler.ServeEndpoint?

On Sun, Feb 12, 2017 at 8:41 PM Peter Bourgon <notifications@github.com>
wrote:

[2017-02-13 10:50] basvanbeek commented on #463
`ServeEndpoint` could confuse people as the method would be called in both client and server endpoints. `Invoke` seems much more appropriate.

[2017-02-13 12:01] peterbourgon commented on #462
@mohanraj-r ping?

[2017-02-13 12:01] peterbourgon commented on #464
@posener Does that answer the question?

[2017-02-13 12:51] posener commented on #464
@peterbourgon , thanks,
One might ask himself then why the before is called *before* the decode phase.
The only thing that triggered me to open this issue is that you need to read this function in order to understand how your hooks will work.
Thanks for the reply and the patience, and sorry for this ticket :-)

[2017-02-13 12:51] #464 closed

[2017-02-13 13:00] peterbourgon commented on #464
Before and After are relative to invoking the endpoint, and agnostic to decoding the request and encoding the response.

[2017-02-13 14:07] yurishkuro commented on #463
@peterbourgon

Do you mean A PR for the actual separation of discovery API from the Endpoint? I can give it a try, but it's likely to be a breaking change.

[2017-02-13 14:43] peterbourgon commented on #463
I mean

I understand it would be a breaking change—hopefully just within package sd? I'm mostly interested to see it sketched out, so I can better understand what the impact would be.

[2017-02-14 00:35] yurishkuro commented on #463
So this isn't a breaking change, it's a hack that can be done without changing go-kit, e.g. like this:

[code]

[2017-02-14 09:40] peterbourgon commented on #463
Ah, okay. Yeah, I'd be curious to see what a non-hacky version would look like :)

[2017-02-16 00:41] yurishkuro commented on #463
A non-hacky, but somewhat API breaking version would be to introduce an intermediary interface:

[code]

Currently implementations such as `consul.NewSubscriber` accept a `Factory` argument. Instead those constructors can be renamed `consul.NewDiscoverer` (does not need a `Factory)` and then a Subscriber can be created out of that generically:

[code]

This way we basically de-couple the discovery

[2017-02-21 00:37] ChrisHines commented on #274
@peterbourgon Should we do this for v1.0.0 since this is a breaking change?

[2017-02-21 07:43] peterbourgon commented on #274
If we decided it was a good idea, yes. But the couple of times I prototyped it, I didn't end up convinced it was a good idea, given each backend just exposes 1 constructor. I think I'd rather close this ticket. WDYT?

[2017-02-21 13:42] seh commented on #274
Another cost to consider: The unit tests for _kit/log_ make use of various backends. Now, those tests sit in the dedicated and separate package "log_test," so they could pull in a backend or two, but it's annoying—and suspicious—to have to test the "log" package by pulling in implementations of the package's exported interfaces.

I suppose that [_database/sql_](https://golang.org/pkg/database/sql/

[2017-02-21 16:34] willfaught commented on #274
Go Team guidance is if there are only few things in a separate package, it
isn't worth it, so I agree.

On Mon, Feb 20, 2017 at 11:43 PM Peter Bourgon <notifications@github.com>
wrote:

[2017-02-27 14:28] ChrisHines commented on #427
I should be able to finish up #470 this week.

[2017-02-27 16:57] rahulraheja opened #472 "Logging request responses, including status codes and headers, with go-kit’s Client"
Hi, I am using the kit’s Client to make GET requests. For these requests I am looking to do some structured logging around the request (URL, headers, etc) response (Body, response code/status, etc). Unfortunately there is no logger as a part of the Client (like the Server) so I am looking for ways to best achieve my requirement without having logger being passed onto 5 different functions if possi

[2017-02-27 20:08] peterbourgon commented on #472
Yep, you're looking for a client finalizer or something. Happy to take a PR for that! :)

[2017-02-28 16:33] rahulraheja commented on #472
Ok - ill set one up, hopefully over the next few days.

[2017-03-02 00:40] willfaught opened #474 "Replace log.Context with log.With/WithPrefix?"
Given the stdlib discussion, is there any interest in replacing log.Context with log.With/WithPrefix?

[2017-03-02 00:44] ChrisHines commented on #474
I plan to post a PR to do it very soon. That will let us evaluate the overall impact. It will probably break a lot of code, but the migration is pretty straight forward. Also, if we're going to do it, now is the time, before we publish v1.0.0.

[2017-03-03 01:09] ChrisHines commented on #427
#470 is merged. We still need to bring #449 up to date and merge it.

[2017-03-03 01:13] ChrisHines commented on #427
I've also added evaluating #474 to the check list.

[2017-03-03 05:35] yurishkuro commented on #463
@peterbourgon any thoughts?

[2017-03-03 05:45] yurishkuro opened #475 "Has push model been considered for discovery API?"
We have an internal service discovery that supports server push when service instances are added/removed. The current Subscriber interface is inherently pull-based, which works with the assumption that load balancer always asks for available endpoints for every RPC call, but that's not how some RPC frameworks are implemented, e.g. in TChannel I can update the Peers in the connection object, but co

[2017-03-03 08:52] peterbourgon commented on #475
#209

[2017-03-03 08:53] peterbourgon commented on #475
I made a spike once, but it didn't work out, for reasons that escape me right now. I'd be happy to take a PR. It's important that the interface and its behaviors are kept consistent across implementations.

[2017-03-03 13:22] yurishkuro commented on #475
@peterbourgon I can try doing a PR. However, there are a few points we should agree on first.

1. Discovery should deal with string instances, not Endpoints (per #463). I think it's especially important for the push model to separate the notion of instance _location_ (the discovery concern) from _what to do with that location_ (e.g. creating Endpoint, an RPC concern).

2. Should the push model be

[2017-03-03 14:15] peterbourgon commented on #474
For the record I think this is a straightforward change and should probably make it into 1.0.0, barring any unforeseen weirdness.

[2017-03-03 14:34] ChrisHines commented on #474
Agreed. My only concern is that unexporting `Context` somehow cripples a use case that needed to  store a `*Context`, but I don't think we will find that to be the case. I also think that the benefits of this change will turn out to be rather significant from a simplicity point of view. I'll document the pros and cons in the PR which I hope to have up tonight, or by the end of the weekend at the l

[2017-03-03 17:02] gaplyk opened #477 "Allow multiple calls of http.ClientBefore() and http.ClientAfter() (for server as well)"
Right now we are limited to one last call to set Before and After handlers.
It would be good to have ability to call them multiple times.

Changes are small and won't affect anyone logic.

[2017-03-03 18:23] willfaught commented on #474
Without knowing more about that particular use case for Context, I'm
guessing you could still make your own context type if you need one?

On Fri, Mar 3, 2017 at 6:34 AM Chris Hines <notifications@github.com> wrote:

[2017-03-03 18:29] basvanbeek commented on #427
I will add ClientResponseFunc handling in the gRPC transport so we can pull in metadata sent back with a server response (think upstream baggage)

Also will add the ability to call BeforeFuncs/AfterFuncs multiple times to append in a Client request. (We already have done this for the Servers)

[2017-03-03 19:13] #462 closed

[2017-03-03 19:13] peterbourgon commented on #477
This already [happens in server](https://github.com/go-kit/kit/commit/c647984391f7d85a5d370767aed12dcba92653b1), I'm happy to take a PR for it to be the same way in client.

[2017-03-03 19:21] basvanbeek commented on #477
already on that Peter :) as I'm working in transports anyway

[2017-03-03 20:48] gaplyk commented on #477
Awesome

[2017-03-03 21:52] yurishkuro commented on #475
Did some prototyping, have to go with `chan<-` because functions are not comparable in Go, thus cannot implement `Unregister`. Updated previous comment.

[2017-03-04 19:05] yurishkuro commented on #403
Seems this is similar to #463. The PR #478 I opened allows implementations to expose string-based API just for service locations. However, to address your issue directly the discovery implementations should change to *not* implement Subscriber, and therefore not require a Factory, which would be the next change after #478. I think factory is only needed by the Cache that manages endpoints, so the

[2017-03-04 19:09] yurishkuro commented on #427
I would like #403 and #463 addressed as they would change the discovery API. For us the metrics and discovery abstractions are the two primary reasons for using go-kit in [Jaeger](https://uber.github.io/jaeger/).

[2017-03-04 19:17] peterbourgon commented on #427
We're already 2 months late on 1.0.0, changes to package SD will not be included. But I have no problem cutting a 1.1.0 or 2.0.0 very soon afterwards.

[2017-03-04 19:20] peterbourgon commented on #463
I want to give this a proper read-through, but I won't have time for it for another week or two. Without going into the details, however, I like what I see so far; I'd be happy to take a look at a more complete API.

[2017-03-04 19:26] willfaught commented on #427
Just curious, why is there a push to cut a v1? If I recall correctly,
go-kit uses semver, and v0 is for unstable APIs during initial development.
I don't understand the point of cutting a v1 if there will be an
incompatible v2 shortly after. Why not keep it at v0 for now and wait until
things have settled down?

On Sat, Mar 4, 2017 at 11:17 AM Peter Bourgon <notifications@github.com>
wrote:

[2017-03-04 19:27] peterbourgon commented on #427
Because I have made several intonations over the past several months that I would cut a 1.0.0 around the turn of the new year.

[2017-03-04 19:36] willfaught commented on #427
OK. It seems to me the version should reflect the code, rather than the
reverse, though.

On Sat, Mar 4, 2017 at 11:27 AM Peter Bourgon <notifications@github.com>
wrote:

[2017-03-04 19:39] seh commented on #427
I took the push for a version 1 to mean, "If you're thinking about changing any public interfaces, do it _now_ and get it over with, because you won't get the chance to do so for a while afterward. Prioritize pending interface changes over other would-be contributions."

[2017-03-04 20:17] willfaught commented on #427
Agreed; but ideas can lead to other ideas; who knows when that rabbit hole
ends? I'm not saying doing v1 now and getting to v5 in six months is
objectively wrong, but it seems burdensome to me for those depending on
go-kit. At least with v0 you know there can/will be a lot of compatibility
churn as things get hashed out.

The leveled logger was just added. Is a week or two long enough to say it's

[2017-03-04 20:21] seh commented on #427
As the author of three proposals (none of which made it in) for that leveled logger, having seen how much of the design space we explored and discarded, I do expect the _interface_ is stable. There is room for further optimization, but the exported interface is the one that @ChrisHines and @peterbourgon want.

[2017-03-05 12:18] peterbourgon commented on #427
After a night of reflection I agree that the feature churn is currently too high to justify a 1.0.0. I guess this is a good problem to have :)

So, I'll bundle up the current master + #474 into a 0.4.0 release. I want to wait for #474 because I think it will be a straightforward, boilerplate-reducing change. It will also bring API described in the [logging proposal](https://docs.google.com/documen

[2017-03-05 14:53] #477 closed

[2017-03-05 15:45] basvanbeek commented on #381
Since we landed at 1.7 as our minimum supported version I have taken the liberty to update the HTTP Transport to use the per request context. See #480.

gRPC since today also used its own per request context and does not provide a server wide context anymore

[2017-03-05 18:44] basvanbeek commented on #381
closed by updates in #480

[2017-03-05 18:44] #381 closed

[2017-03-06 18:02] ereOn opened #483 "IsTerminal does not account for SyncLogger-encapsulated loggers"
The current implementation of IsTerminal does not properly work when stdout or stderr are used through a SyncLogger.

I came up with a really simple PR that addresses the problem in an elegant, 100% backwards-compatible manner. See #482.

[2017-03-06 18:05] ereOn opened #484 "IsTerminal does not properly detect MSYS2 terminals on Windows."
The current implementation of `IsTerminal` for Windows does only detect when a Go program is running in `cmd.exe` but not when it is running in `MSYS2` (that includes Git bash for Windows).

Adding support for such a terminal detection can easily be done ([see this C implementation](https://fossies.org/linux/vim/src/iscygpty.c)) and I am willing to do a PR for this if desired.

The change would be

[2017-03-06 18:05] ChrisHines commented on #483
Good catch. Thanks for the issue and the PR. I'll try to review the PR soon.

[2017-03-06 20:50] ChrisHines commented on #427
#474 is merged.

We should consider updating the package docs for log/level to remove the experimental disclaimer before tagging.

[2017-03-06 20:53] peterbourgon commented on #427
Oops, that was an oversight. Thanks for the spot. Fixed in master.

[2017-03-06 20:54] peterbourgon commented on #427
OK, great. I'll cut 0.4.0 tomorrow.

[2017-03-06 21:30] ereOn commented on #484
I added a PR (#485) that allows MSYS/Cygwin terminal detection, using the same strategy followed by Vim (the text editor).

Let me know what you think.

[2017-03-07 02:46] ereOn commented on #483
For what it's worth, I also manually tested **successfully** this PR and #484 **together** on both Windows (MSYS and `cmd.exe`) and OSX.

[2017-03-07 03:00] ereOn commented on #474
I was reading at the various issues to try and find some tasks I could contribute to, I wonder why this task isn't closed.

It seems that #481 - which was merged - is all that is required for it and from the [comments](https://github.com/go-kit/kit/issues/427#issuecomment-284224104), #427 depends on this to be closed.

Is there anything left to do in that regard ? If so, what can we do to help ?

[2017-03-07 03:01] ChrisHines commented on #474
Nope, just forgot to close it. Thanks for the ping.

[2017-03-07 03:01] #474 closed

[2017-03-07 03:03] ereOn commented on #474
@ChrisHines I just deleted my comment as I realized a release was planned for tomorrow and thought this would be solved at that moment. You are welcome !

[2017-03-07 03:16] ereOn commented on #333
Has any progress been done on this ? If not, I'd be glad to help.

[2017-03-07 04:56] ereOn commented on #333
I actually went ahead as an exercise, and came up with #486.

Let me know what you think. I haven't done anything in term of documentation/tests (except for manual tests at least of course).

Another option I thought about was to actually detect at a lower level that the writer is "log-level capable" and rely on that instead. It's too late for me to clearly assert the validity of that idea. If I g

[2017-03-08 02:18] ChrisHines commented on #269
@AlmogBaku Do you think the recently rewritten and merged log/level package satisfies this issue? Can we close this?

[2017-03-08 07:56] cam-stitt opened #489 "CloudWatch metrics package"
It would be nice to have a metrics implementation for CloudWatch. Ideally, we could utilise [aws-sdk-go](https://docs.aws.amazon.com/sdk-for-go/api/service/cloudwatch/). We should be able to just use `PutMetricData` as it creates the metric if it doesn't yet exist. I need to spend some more time looking into how to map `Counter`, `Gauge` and `Histogram` into CloudWatch metrics data types.

[2017-03-08 09:20] cam-stitt opened #490 "JWT: Removing opinionated usage of Claims"
I created a PR to introduce support for additional claim objects in #488. After doing some thinking I came to a conclusion that some more work needs to be done on the jwt package.

- Remove the ambiguous `Claims` object
- Enforce the Sign/Parse methods to accept a `jwt.Claims` parameter

The current implementation leans towards only using `MapClaims` and I'm not sure what value the go-kit `Claims`

[2017-03-08 09:38] peterbourgon commented on #489
Oh hell yeah, I'm all about this. +1000.

[2017-03-08 10:27] sergiosarmentosilva opened #491 "Request to move from prometheus http (deprecated) to the new one"
As it stands on the `http.go` file in the `prometheus/client_golang` repository, that file has been deprecated and moved to `prom/http` directory, with some changes. Quoted from `http.go` comment section:
[code]
For this reason, would it be possible to update the prometheus metrics in go-kit to use the new one?

[2017-03-08 11:15] #427 closed

[2017-03-08 14:57] vgheri commented on #490
Agree, I'm not using the go-kit jwt middleware for this exact same reason.

[2017-03-08 21:31] cam-stitt commented on #489
I made a start to this. Happy to open a WIP pr to get some feedback on the direction that I am taking. You can see the direction I'm taking here: https://github.com/cam-stitt/kit/blob/cloudwatch-metrics/metrics/cloudwatch/cloudwatch.go

[2017-03-08 22:02] cam-stitt commented on #490
I ended up just modifying #488 to completely remove the ambiguous Claims type.

The other major change is that this is a backwards incompatible change.

[2017-03-08 22:07] cam-stitt opened #494 "SD: EC2 service discovery"
We could add an EC2 service discovery package. EC2 allows for searching instances via tags. We could again use `aws-sdk-go` and manage fetching instances via `ec2.DescribeInstances`.

[2017-03-09 01:25] ChristopherRabotin opened #496 "Provide warning before API breaking change"
It would be outstanding if you could provide some warning before making API breaking changes. A way to do this would be to warn the user of the library prior if they were to use a function which is deprecated.

Thanks, back to my code now where I have to fix many of my calls to this library...

[2017-03-09 01:31] groob commented on #496
This is probably not the answer you're looking for but that's why dependencies have to be vendored with a tool like glide(or dep) instead of fetching code with `go get`.

The release is tagged to prevent breaking a build.

[2017-03-09 01:38] ChristopherRabotin commented on #496
I will look into glide. I had mostly terrible experience trying to deploy
code with godeps so I stopped using entirely over a year ago.

On Wed, Mar 8, 2017, 18:31 Victor Vrantchan <notifications@github.com>
wrote:

[2017-03-09 01:42] groob commented on #496
Yes, unfortunately dependency management is an issue with Go in general. glide is the best stable tool out there for pinning dependencies today(IMO) and it looks like there's a light at the end of this dark tunnel too: github.com/golang/dep

BTW the release notes for 0.4.0 do mention the breaking fix.
I am curious about your suggestion to warn the library users:

Is there a way you had in mind bes

[2017-03-09 02:01] ChristopherRabotin commented on #496
IIRC, Python has a `warnings` package which can be used to notify a user on import of a library. So mimicking that behavior, I suspect it ought to be possible to do something as follows (which is somewhat ugly):
[code]

[2017-03-09 08:55] peterbourgon commented on #496
Sorry for the trouble! I'll echo what @groob already mentioned: if you're using Go kit, you should definitely be pinning to a version in your own code. The semantic version prefix `0.x.x` implies unstable; every version bump can (and, to be clear for Go kit: will) involve some degree of breaking change. In the a future, post-1.0.0 world, breaking changes will be accompanied by a major (1.x.x ☞ 2.x

[2017-03-09 08:56] #496 closed

[2017-03-09 13:42] AlmogBaku commented on #269
looks good

[2017-03-09 13:42] #269 closed

[2017-03-09 15:10] kavirajk commented on #491
Can I work on this?

[2017-03-12 21:25] #491 closed

[2017-03-14 02:34] ereOn commented on #185
I actually plan on working actively on this as it has become a huge need in the projects I am working on. I already have a prototype that generates code from a Swagger v2 definition, using the OpenAPI Go library.

Relatively straightforward and simple. I'm pretty confident I can get something suitable soon.

[2017-03-15 00:15] avdempsey opened #498 "Returning the right error in jwt.NewParser"
I'm trying to catch errors from parsing JWTs so I can return a nice 401 to tell the client to try re-authorizing, but it looks like NewParser favors passing through the errors generated by dgrijalva/jwt-go (which are a little more complicated than your garden variety error) instead of passing kit's own set of JWT errors (defined in auth/jwt/middleware.go).

In auth/jwt/middleware.go we have the fo

[2017-03-15 02:46] queirozfcom opened #499 "Caching support?"
Hi.

Shouldn't caching solutions be a major part of the kit? Has it been left out on purpose or will it be added in the future?

Thanks

[2017-03-15 08:30] peterbourgon commented on #499
What does "caching solutions" mean? What would Go kit integration look like, at a high level?

[2017-03-15 13:38] ereOn commented on #484
@peterbourgon ping ?

[2017-03-15 13:40] peterbourgon commented on #484
I have no Windows exposure or experience. @ChrisHines?

[2017-03-15 13:45] ChrisHines commented on #484
I do have Windows here. I've been too busy the last couple of weeks to put time into this. I haven't forgotten and will get to it when I have time. Also, I want to sort out #482 first.

[2017-03-18 00:06] queirozfcom commented on #499
I'm not too sure, maybe a default implementation of caching, like you have for servcie discovery, circuit breaking, etc

[2017-03-18 00:12] queirozfcom opened #500 ""Too Many Errors" when running go get github.com/go-kit/kit/log on Go 1.8"
Hi.

I just installed Go 1.8 on Ubuntu (as per [these instructions](https://github.com/golang/go/wiki/Ubuntu#download-the-package-go-18)) and, when running `go get github.com/go-kit/kit/log` I get the following errors:

[code]

Anything obviously wrong here? What could be the issue?:

**P.S.:** I has installed this package before on Go 1.7 and it worked well.

[2017-03-18 00:18] queirozfcom commented on #500
Issue went away when I reinstalled go. Sorry about this.

[2017-03-18 00:18] #500 closed

[2017-03-18 08:09] peterbourgon commented on #499
But caching of what? Requests and responses? Assets? Should it be in-memory, or an adapter layer to memcache/Redis/etc.?

[2017-03-19 13:07] basvanbeek commented on #490
#488 has been merged and closes this issue

[2017-03-19 13:07] #490 closed

[2017-03-19 15:15] peterbourgon commented on #498
@briankassouf @basvanbeek Any opinions here?

[2017-03-19 15:23] basvanbeek commented on #498
Just a quick glance but this seems more reasonable:

[code]

[2017-03-20 13:46] basvanbeek commented on #489
closed by #495

[2017-03-20 13:47] #489 closed

[2017-03-20 23:38] defunct73 opened #502 "Feature Request: Wavefront metrics format"
Please add support for outputting metrics in Wavefront format.

See: https://github.com/wavefrontHQ/go-metrics-wavefront

Thank you for consideration!
-d

[2017-03-21 13:44] jpudney opened #503 "Feature Request: Add function to set key value for level logger"
Yo! Recently I needed to change the value of the level key to ensure that our current log storage could slurp up the logs of a new service that's been developed with go-kit/kit/log as it's logger.

I've committed the [changes](https://github.com/jpudney/kit/commit/bff888cf052b86a5a7849a90a6738c3825634c7c) to a fork and wondered if you wanted them?

[2017-03-21 15:37] ChrisHines commented on #503
Short answer: No, I don't think we want to provide a global `level.SetKey` function.

The commit you linked says:

allocations are made following the instantiation of the logger. However,
there are times when this value needs to be somethin else. This changes
provides a method for doing so.

That is not the whole truth. Avoiding an allocation is a nice benefit of having a global key value, but it

[2017-03-21 16:11] jpudney commented on #503
Cool, no worries. Thanks for the suggested workaround, and background info. Really appreciated!

[2017-03-21 16:11] #503 closed

[2017-03-22 23:21] #483 closed

[2017-03-22 23:53] ChrisHines commented on #484
Fixed by #501.

[2017-03-23 09:29] mrxliu opened #505 "Support etcdv3 ?"

[2017-03-23 12:24] ereOn commented on #484
@ChrisHines Isn't there a mistake ? I don't think this was addresses by #501 which only deals with passing through the file descriptor when a `SyncWriter` is used.

[2017-03-23 12:47] ChrisHines commented on #484
Yeah, my mistake.

On Thu, Mar 23, 2017, 8:25 AM Julien Kauffmann <notifications@github.com>
wrote:

[2017-03-24 15:26] edmund-troche commented on #185
Any updates on this effort? I'm more interested in the bottoms-up approach (generate Swagger/OpenAPI from code [Route, Models, etc]).

[2017-03-24 16:55] kofalt commented on #70
@peterbourgon in #75 you mention that you'd welcome a fresh try at accomplishing this. Do you have thoughts on how that attempt went wrong, and how it could be tried again? I was looking to try out go-kit, and this exact issue is what's making me hesitate. If the generation is straightforward enough, maybe it's the sort of thing that myself or another interested beginner could attempt.

[2017-03-24 17:25] peterbourgon commented on #70
@kofalt I would absolutely welcome fresh eyes on this. In truth I think it would not be too hard: it would be a great project for someone who wants to get nice and cozy with [package go/ast](https://golang.org/pkg/go/ast/). I've updated the initial issue with some changes, please take a look! If you want to get serious, I'd love to chat more; you can find me on the Gophers Slack in `#go-kit`.

[2017-03-24 17:30] peterbourgon commented on #328
I'm gonna call this resolved. OpenTracing integration tests would be super nice to have, but I think quite difficult to make worth the while.

[2017-03-24 17:30] #328 closed

[2017-03-24 17:31] #274 closed

[2017-03-24 17:32] peterbourgon commented on #250
This is now accomplished with [level.Options](https://godoc.org/github.com/go-kit/kit/log/level#Option).

[2017-03-24 17:32] #250 closed

[2017-03-24 23:12] #484 closed

[2017-03-24 23:13] ChrisHines commented on #484
Implemented in #485.

[2017-03-25 11:24] joeblew99 opened #506 "Quic network transport"
https://github.com/lucas-clemente/quic-go

It's pretty stable and very fast.
Can use pure UDP or h2 :)

[2017-03-25 11:45] basvanbeek commented on #506
Seems there is no need for a specific Quick network transport. You can use the wrappers from the h2quic package of this library and just use our HTTP Transport.

[code]

[2017-03-25 11:51] #506 closed

[2017-03-31 00:03] Tkanos opened #508 "gokit handler does not works when gorilla is the main router that ListenAndServe"
Hello dudes,

The Server struct (transport/http/server.go:13) that implement the interface http.Handler, Does not seems to be compatible with the Route struct (that also implement Handler) of gorilla/mux

[code]

Is it normal ?
Is it wanted ?
Maybe it's an issue in Gorilla/mux side, and how they implement ServeHTTP (https://github.com/gorilla/mux/blob/master/mux.go:80)

I've coded a poc, to show y

[2017-03-31 00:38] ChrisHines commented on #508
In the gorilla branch change the code from:
[code]
to
[code]
I think this is a fairly common mistake with gorilla/mux. I know I've been bitten a few times by it.

The outer router in the original code will only match _exactly_ `/users/` and thus requesting `/users/1` doesn't match and the handler doesn't get called.

[2017-03-31 01:10] Tkanos commented on #508
Thank you dude, I was debugging gorilla/mux code, to find the why.

You partially save my day of tomorrow (here it's 3:10 AM)

Thanks,
F.

[2017-03-31 01:12] #508 closed

[2017-03-31 16:53] glerchundi opened #509 "Runtime created middlewares"
First of all thanks for this incredible piece of framework/library/tooling/whatever it is!

I would like to discuss about the idea of having a dynamic middleware/endpoints, one that can do whatever middleware action based on context/request.

For example, rate limit based on the request data, JWT email/identifier, or whatever context information you already know its there:

[code]

And then rate l

[2017-03-31 17:45] peterbourgon commented on #509
You can create these yourself, right? What support do you want to see in Go kit proper?

[2017-03-31 20:34] glerchundi commented on #509
I would like to see this topic discussed here so that a community thought
solution could benefit to everyone as I think this is a very common problem.

Probably what I have outlined before its not the best solution in terms of
composability, performance, ...

How does people usually solve this problem? For example Signal Server (by
(un)marshalling a leacky bucket in redis uses dynamic rate limiter

[2017-04-01 13:07] peterbourgon commented on #509
I don't think this is a common problem. Or, I haven't fully understood what you're suggesting. From where I sit, _every_ middleware is a dynamic middleware. You can write a RedisJWTRateLimitMiddleware just fine:

[code]

What you _can't_ do, unless I am really misunderstanding something, is serialize a token bucket object into Redis and just fetch it out again, as you imply here:

[code]

Am I mis

[2017-04-02 09:50] glerchundi commented on #509
You're not missing the point, its exactly that.

But, I would love to see this done in a generic way, at least give the possibility to everyone to do it in a composable and **reusable** manner.

In case of rate limiting, i think it is. Rate limiting APIs per client identifier cannot be done by reusing your rate limiter (go-kit/ratelimit) because token must be set before knowing the contextual data

[2017-04-02 10:02] peterbourgon commented on #509
The existing endpoint.Middleware definition is _already_ a generic, composable, and reusable pattern for creating these "dynamic" middlewares. As far as I can see, there is no advantage to adding another e.g. DynamicMiddleware type definition to Go kit.

You're right: the rate limiting that Go kit ships with is per-service-instance rate limiting, not per-client-identifier rate limiting. But, as I'

[2017-04-02 10:25] glerchundi commented on #509
Right, I agree with you. It was just a way to open the discussion :)

Yep, its straightforward but probably people is doing it in their own applications all the time. IMO, I think that being open to adapt this library to all the uses cases would be a big win. And would help identifying bugs/problems in the core library because everyone would be using it (as it solves most of the use cases!).

Its

[2017-04-02 11:05] peterbourgon commented on #509
OK, I think we're talking past each other. If your proposal is to add the NewFinishedMiddleware and NewRuntimeMiddleware definitions to Go kit, I veto it on the grounds that they don't provide any novel value. If your proposal is something different, please make it concrete :)

[2017-04-07 07:12] nashtsai commented on #499
I think @queirozfcom is asking about caching middleware for the endpoints. Implementation should be quite straightforward.

[2017-04-07 07:13] peterbourgon commented on #499
Caching of _what_?

[2017-04-07 10:02] ngurajeka opened #511 "auth/session Transport/Middleware"
Hi,

I'm new in Go-Kit, and now are migrating my app to use Go-Kit. Since i was using session to authenticate my user, i need to know is there any workaround to implement this on Go-Kit?

What i've been trying before i opened this issue:
- Distribute store (session adapter) throught context, but i found it really hard to get the current request and response writer since the session itself need bot

[2017-04-07 10:27] basvanbeek commented on #511
ServerAfter is executed before sending the response of the service method call back to the client and it also includes access to the ResponseWriter so you can set the appropriate headers (ex. new cookie or new JWT Authorization header).

Can you explain better why this doesn't work for you as I'm not sure I follow your last point?

[2017-04-07 10:49] ngurajeka commented on #511
Sorry, maybe my bad english make you hard to understand my point.

![flow](https://cloud.githubusercontent.com/assets/3364191/24797139/1e917274-1bba-11e7-847b-16c3b5ac138e.png)

Above picture is explained how do i placed my code.
The problem is:
- I need http.ResponseWriter inside the Service. Its happened because calling session.Save command need http.Request and http.ResponseWriter as parameter.

[2017-04-07 11:04] basvanbeek commented on #511
It's strange that the http.Request is needed as parameter for session.Save and I briefly checked the Gorilla code and it actually doesn't use the Request (not in the CookieStore, not in the FilesystemStore) as far as I can tell. Since the parameter is a pointer to the request you could try feeding it nil when utilizing session.Save in a ServerAfter function.

Another option (ugly but will work) wo

[2017-04-08 12:36] ngurajeka commented on #511
Ok, thanks.

Now it works:
- I use http.ServerBefore to store request and create session.
- I use http.ServerAfter to tell my session to save the current changes before the request end

[2017-04-08 15:36] #511 closed

[2017-04-14 13:37] andrejvanderzee opened #512 "glide get prompts for username on github.com/kit/endpoint"
[code]

[code]

[2017-04-14 14:17] peterbourgon commented on #512
Ask the Glide folks maybe; no changes to the kit repo!

[2017-04-14 15:12] andrejvanderzee commented on #512
Probably caused by the GitHub repo having `go-git` in it's path. Thanks, I will ask the glide people!

[2017-04-14 15:12] #512 closed

[2017-04-14 15:14] andrejvanderzee commented on #512
https://github.com/Masterminds/glide/issues/802

[2017-04-16 10:46] eticzon commented on #494
Hey @cam-stitt and @peterbourgon! I'd like to get involved. Would you guys mind if I take a crack at this? 🙏

[2017-04-16 12:30] peterbourgon commented on #494
Please do! Before starting in with the code properly, I'd suggest doing a design phase, either just as a narrative in this issue or with a bit of pseudocode.

[2017-04-18 12:45] peterbourgon commented on #70
@kujtimiihoxha has created https://github.com/kujtimiihoxha/gk which seems to be a fairly good approximation of my "spec" above. I haven't had a chance to play with it in earnest yet but I shall!

[2017-04-18 18:18] JeanMertz opened #515 "Accept header available in context?"
I noticed that the `PopulateRequestContext` function does not transfer the `Accept` header from the request object to the context.

I'm using a custom `ServerBefore` function to add this header, but I was somewhat surprised, as the Accept header is something you use a lot when working with APIs that support multiple response formats.

[2017-04-19 07:42] peterbourgon commented on #515
Does #516 do what you'd expect?

[2017-04-19 10:28] JeanMertz commented on #515
It does, thank you for doing the work. I would've added it myself, but I didn't want to put in the "work" before I got some form of acknowledgement that this would be a good addition.

Either way, thank you, and keep up the good work with this project 👍

[2017-04-19 10:28] #515 closed

[2017-04-24 18:28] joeblew99 commented on #295
I am using go-kit with NATS and it's very nice. It's not very well done so i doubt i can contribute much.

But i was wondering if this has moved on in terms of a pub/sub abstraction being adapted in Nat's ?

All modules communication north south fully. Modules subscribe to each other via NATS to do east / west sharing of events.
Clients compose bit of modules together to make a full client.
This i

[2017-04-25 11:59] eticzon commented on #494
Guys apologies this took a while. Actually thinking about it a bit more, in this specific use-case `go-kit` is performing the role of an ELB (or an ALB). So to get the ball rolling...

The implementation would generally follow the style the implementations in `package

**Implementation Details (assume the new package is called `ec2`)**

1. There would be an internal method in `ec2` for fetching in

[2017-04-26 12:41] peterbourgon commented on #505
Would be amazing. Should be identical in function, but I think the v3 API significantly changed (reduced) the surface area...

[2017-04-26 19:35] peterbourgon commented on #494
1. I'd expect that users would know the port a priori when specifying a set of EC2 instance tags. Is that reasonable? If you deploy an EC2 AMI, your service is probably listening on a fixed port, right?
2. I don't know the details here. Can you say more? I would expect users to specify instance tags that would authoritatively map to instances running specific services.
3. Your call at the implemen

[2017-04-27 04:21] cam-stitt commented on #494
My two cents:

1. I'm with @peterbourgon, the port will be known by the user and does not have to be part of this. Putting the port on the constructor of the object may make the most sense.
2. Yup, users should be placing tags (like `service: addsvc`) on their instances. The CFN stacks should not concern us at all.
3. We could limit the EC2 discovery to utilise ELB's, or provide that as another st

[2017-04-27 10:44] eticzon commented on #494
Great feedback @peterbourgon, @cam-stitt!

OK, so taking into account your suggestions, here's a rough plan w.r.t. to the questions asked:

1. `port` would be a constructor argument.
2. Users would be expected to tag their instances with `service: addsvc` (customizable; could be a constructor argument as well i.e. `tagName`).
3. I like the idea of using a common ELB and determining instance health

[2017-05-04 03:29] wyaeld commented on #494
Just playing devils-advocate during your design phrase, given the functionality AWS has been delivering at the ALB layer (ssl certs, waf, dynamic port mapping of ecs services etc), under what sorts of scenarios would you expect to want to do service discovery at the ec2-instance level, over the alb-service level?

[2017-05-04 22:38] briankassouf commented on #498
Sorry for the late response here, but I'd agree with @basvanbeek's code. This does not appear to be working as intended.

[2017-05-05 09:54] eticzon commented on #494
Hey thanks for the feedback @wyaeld. I've also mentioned this before:

I do agree that the current feature set of an ALB is enough to cover the majority of use cases. I'm happy to drop this task unless @peterbourgon and/or @cam-stitt can think of other scenarios where such a discovery functionality would be useful.

[2017-05-06 12:55] basvanbeek commented on #498
this has been fixed in #521

[2017-05-06 12:55] #498 closed

[2017-05-06 22:24] terinjokes commented on #447
If you don't provide a "package" in your protobuf file, your endpoints won't pre prefixed at all. Enforcing a default of "pb" in the grpc transport that I can't opt out of means I now can't call this service.

[2017-05-06 23:27] terinjokes commented on #447
In my fork, I've added a ClientOption to revert the auto-prefixing. Happy to send a PR, but I think removing, or modifying, the prefixing functionality makes more sense.

[2017-05-08 22:53] cam-stitt commented on #494
One issue with ALB is that it cannot be used in conjunction with GRPC (from all my tests and research). If you want to use GRPC, you have to still use ELB. Due to the popularity of GRPC in microservices, it seems like this still has a very valid use case.

[2017-05-09 15:47] terinjokes commented on #447
To wrap up the discussion here: with #524 merged, go-kit will no longer autoprefix the "pb" package name. Of course `github_com.mycompany.myrepo.myservice.pb.MyService` is still a valid input.

[2017-05-11 00:14] terinjokes opened #525 "in memory generic metrics aren't shared across `With`"
A common pattern is to use `metrics.*.With` in an endpoint middleware to created derived metrics:

[code]

If you're using the generic metrics, there's no way to retrieve these metrics; the in memory metrics aren't shared across calls to `With`.

[code]

[2017-05-11 08:39] peterbourgon commented on #525
This is by design. Generic metrics aren't really meant to be used outside of a test context.

[2017-05-11 13:29] terinjokes commented on #525
@peterbourgon I'm trying to use them in test, I don't see how they're useful there either, as the example shows. I think the design needs to be tweaked just a little bit.

[2017-05-11 13:30] peterbourgon commented on #525
I'd happily accept a PR.

[2017-05-11 16:36] ChrisHines opened #526 "auth/jwt: Function names not intuitive."
I've been using the auth/jwt package on a project for a while now and I constantly trip over the difference between `FromHTTPContext` and `ToHTTPContext`. The structure of the names don't help me remember which way the data is flowing.

From godoc:

----------

[code]
FromHTTPContext moves JWT token from context to request header. Particularly useful for clients.

[code]
ToHTTPContext moves JWT to

[2017-05-11 17:14] peterbourgon commented on #526
I have no objection, but I'd ask that we also audit the other similar-sounding function names in other packages, to have a uniform style.

[2017-05-11 18:44] basvanbeek commented on #526
We have the following similar functions in Tracing:

ServerSide; pull data from header and push into Context:
`FromHTTPRequest` and `FromGRPCRequest`

ClientSide; pull data from Context and propagate in headers:
`ToHTTPRequest` and `ToGRPCRequest`

[2017-05-11 19:48] willfaught commented on #526
Sounds confusing to me too.

On Thu, May 11, 2017 at 11:44 AM Bas van Beek <notifications@github.com>
wrote:

[2017-05-11 21:23] terinjokes commented on #526
I agree the terminology in`auth/jwt` is confusing, especially if you use the functions in the `tracing` package more often.

In tracing, you interpret the function names as "context to request" and "context from request", whereas in auth, you interpret it as "from http to context" and "to http from context".

Adapting the proposed names with the scheme used in tracing, how about:

* `RequestToCont

[2017-05-12 21:06] travissalascox commented on #472
@peterbourgon was just wondering if a  http client finalizer in the style/spirit of the server finalizer was still a wanted enhancement and if you knew if it would be okay to pick this one up?

[2017-05-14 22:24] alex-leonhardt opened #527 "Riemann metrics"
Hi,

Is it possible to add riemann metrics to go-kit please ? I believe many companies are using Riemann to aggregate metrics and alert based on "change" to those metrics.

I can try add this myself, but I do not have much experience with go-lang (yet).

Thanks
Alex

[2017-05-15 13:57] peterbourgon commented on #472
I'm not aware of any work on this, so please feel free!

[2017-05-15 14:50] feliksik opened #528 "Cloudwatch/metrics API call errors because of duplicate label"
I'm trying to create a cloudwatch counter using the kit/metrics/cloudwatch package (looks nice). I am using  [this addsvc line](https://github.com/go-kit/kit/blob/master/examples/addsvc/endpoints.go#L95) as example, but doing a call on a counter/counter with .With("succes", "true"). However I receive a cloudwatch error: `InvalidParameterValue: No metric may specify the same dimension name twice`.

[2017-05-15 14:52] feliksik opened #529 "Cloudwatch metrics does not limit nr. of MetricDatums to 20 per call"
According to the [AWS Docs](http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_limits.html), a max of 20 metricdatums can be sent in an API request.

So this [code should](https://github.com/go-kit/kit/blob/master/metrics/cloudwatch/cloudwatch.go#L136) respect that.

I might get to fixing this myself, but not today...

[2017-05-15 15:30] feliksik commented on #528
@cam-stitt I'd like to hear your take on this; there is some other things I have questions about as well, like the fact that the values are not reset when sending things to Cloudwatch. Other implementations seem to be using a [pattern that does](https://github.com/go-kit/kit/search?utf8=%E2%9C%93&q=%09s.counters.Reset%28%29.Walk%28func%28name+string%2C+_+lv.LabelValues%2C+values+%5B%5Dfloat64%29+b

[2017-05-15 22:52] cam-stitt commented on #528
Yeah, looks like a bug to me. Might have to modify this to replace existing k/v's.

I have not yet used this in production. We aren't ready to update to non-stable go-kit releases.

I based my work off the graphite work, see: https://github.com/go-kit/kit/blob/master/metrics/graphite/graphite.go#L116

[2017-05-15 22:53] cam-stitt commented on #528
Apart from the de-dup, does it seem to be working?

[2017-05-15 23:23] cam-stitt commented on #529
Good find. Thanks for this.

[2017-05-16 08:02] feliksik commented on #528
Well it uploads results, but I'm not sure if it's doing what it's supposed to.

The other implementations (e.g. influx) do reset on all metrics, and use a tree walking pattern that seems really powerful but is a bit more complicated. Graphite doesn't use it, and I think it doesn't have to, because With() is a no-op there (i.e. doesn't support labels, I guess).

I guess if we want to support labels

[2017-05-16 08:50] feliksik commented on #528
I'm looking a bit more into this, and have a few observations:

- The Counter, Gauge and Histogram that use an observeFunc for the lv.Space are duplicated in [https://github.com/go-kit/kit/search?utf8=%E2%9C%93&q=type+observeFunc+func%28name+string%2C+lvs+lv.LabelValues%2C+value+float64%29&type=](different places).

- For the Histogram tool, the [influx.Histogram](https://github.com/go-kit/kit/blo

[2017-05-16 09:00] peterbourgon commented on #528
I am definitely convinced that the current implementation is suboptimal. In particular I am convinced of the need for a so-called Provider or Factory interface/type to allow metrics to be created more dynamically (#378, #513). Also while I believe the lv.Space type and metrics/generic package are necessary, they are both flawed: lv.Space for the reasons you identify and others besides; and generic

[2017-05-16 09:12] feliksik commented on #528
I'll contact you on Slack :-) just see what we can do.

[2017-05-16 11:53] kamal-github opened #530 "how to Convert http.HandleFunc to *mux.Router"
I am using [nrgorilla](https://github.com/newrelic/go-agent/blob/master/_integrations/nrgorilla/v1/nrgorilla.go) and [gokit](https://github.com/go-kit/kit)(having **mux** as router) heavily. how to Convert http.HandleFunc to *mux.Router?

So to instrument all routes I need to pass `*mux.Router` to `InstrumentRoutes` function, but I have http.Handler which I want to assert to `*mux.Router` to make

[2017-05-16 11:56] kamal-github opened #531 "Use http.Handle instead of mux Router while maintainig transport file"
How to use `http.Handle` instead of `mux` Router without compromising transport layer and putting all handlers in `main.go`?

[2017-05-17 09:39] peterbourgon commented on #505
@eticzon Any update? :)

[2017-05-17 09:44] elvin-du commented on #505
@eticzon Any update?

[2017-05-19 09:24] amonaco commented on #402
So you need to use another library (gorilla/mux) for this? Awesome!

[2017-05-23 21:10] alpeb commented on #529
Would it suffice if I add checks for that in `NewCounter`, `NewGauge` and `NewHistogram` that would panic if that limit is reached?

[2017-05-23 22:50] cam-stitt commented on #529
I'm not sure if a panic would be ideal in this situation. We should be able to split it into a max of 20 datums and spread it to multiple api requests.

[2017-05-24 08:11] #472 closed

[2017-05-24 21:15] alpeb commented on #529
Sounds good. Can I have the honor of submitting a PR for this, or you prefer to tackle it yourself? :)
I was thinking we could do it in batches of concurrent API requests, say up to 4 concurrent requests per batch. Let me know what you think.

[2017-05-24 23:52] cam-stitt commented on #529
Go for it! Happy to share. I would suggest making an option `NumConcurrentRequests` to specify how many requests can be sent per batch.

[2017-05-25 06:43] stanxii opened #534 "ctxhttp upgrade go 1.7 context"
transport/http/client.go

old ctxhttp
// resp, err = ctxhttp.Do(ctx, c.client, req)

should upgrade go 1.7 context.
resp, err = c.client.Do(req.WithContext(ctx))

S

[2017-05-25 06:46] stanxii commented on #534
I will fork and fix it so i close it now.

[2017-05-25 06:46] #534 closed

[2017-05-26 02:05] bcho opened #537 "Should not set header after `WriteHeader` in example"
In shipping example: https://github.com/go-kit/kit/blame/master/examples/shipping/booking/transport.go#L184

`encodeError` may write header before setting the `content-type` header. From go net/http's [doc][write-header-doc]:

Seems like the `content-type` header should set before the error switch.

[write-header-doc]: https://golang.org/pkg/net/http/#ResponseWriter

[2017-05-26 13:23] #537 closed

[2017-05-30 15:46] Aqiling opened #539 "go-kit has api aggregation?"
I saw go-kit's package circuitbreaker use hystrix-go.

but as far as know it don't has api aggregation.

do you have a plan add it in your project ?

my english is so so.if I said wrong,please forget it and point it out.thinks.

[2017-05-30 16:30] peterbourgon commented on #539
There is an apigateway in the examples folder, but we don't plan on doing anything more sophisticated than that.

[2017-05-30 16:30] #539 closed

[2017-05-31 09:37] ngurajeka opened #541 "Serving file on Transportation Layer"
Hi,

I want to ask is there any workaround to serve file in the API Gateway?
I've tried to create a simple response encoder like this,

[code]

But, to serve a file i need to do this

[code]

Which currently like this:

[code]

Is the pointer to the request available in the encoder context Value? or is there any workaround so i can serve a file in the API Gateway?

Thanks

[2017-05-31 19:36] peterbourgon commented on #541
You can always wire up another route in the transport layer that doesn't go to any endpoint, and instead to an http.ServeFile handler.

[2017-05-31 19:36] #541 closed

[2017-06-02 11:36] alpeb commented on #527
If no one else is tackling this one, I have some spare cycles and would love to give it a shot!

[2017-06-02 12:07] alex-leonhardt commented on #527
cool - i was going to give it a go but my Go-foo is weak so I'd have started copying stuff from the statsd module to get something basic working first .. happy to try and help, but still new to Go and am not actually really a "developer" as such either :)

[2017-06-04 12:57] peterbourgon commented on #531
I'm sorry, I don't understand the question. Can you say more?

[2017-06-04 13:00] peterbourgon commented on #530
You (obviously) can't type-assert a HandlerFunc to a *mux.Router. If you want to use router.Walk, you need to register all your handlers in the router. You can register regular HandlerFuncs in a mux.Router just fine. I hope this helps.

[2017-06-04 13:00] #530 closed

[2017-06-04 13:00] peterbourgon commented on #526
I believe this was fixed recently, is that true?

[2017-06-04 13:02] peterbourgon opened #542 "sd/eureka: test failures"
[code]

https://circleci.com/gh/go-kit/kit/1216

@yurishkuro I reckon this is related to the thing I just merged. Can you knock this one out quickly? I'll look into why Circle isn't running on PRs...

[2017-06-04 13:06] peterbourgon commented on #542
This is now turned on.

[2017-06-04 15:10] GrantZheng opened #543 "A problem about the use of Middleware"
Hi:
According to your example/stringsvc2, if I define a middleware and want to use it in global, I have to implement all functions of the service  in my defined middleware., such as , in the instrumenting.go file, it implement Uppercase and Count function. But is there another simple way to only need to write a middleware function which can use for all service, such as the use of middleware in the

[2017-06-04 17:04] yurishkuro commented on #542
looking

[2017-06-04 17:13] yurishkuro commented on #542
@peterbourgon an aside question - do you find CircleCI to be better for integration tests than Travis? I'm wondering if we should consider it for Jaeger.

[2017-06-05 07:14] ngurajeka commented on #541
Thank you @peterbourgon

[2017-06-05 10:14] peterbourgon commented on #542
I'm not sure why we decided to run integration tests on Circle rather than Travis. Maybe it was because it had a nicer (read: easier to use) Docker environment?

[2017-06-05 10:15] #542 closed

[2017-06-05 18:01] #531 closed

[2017-06-05 18:02] kamal-github commented on #531
@peterbourgon Thanks! my issue got resolved. 👍

[2017-06-05 19:06] peterbourgon commented on #531
:100:

[2017-06-06 13:17] peterbourgon opened #545 "sd/eureka: tests are incredibly flaky on CI"
Cmd-F for `FAIL:` on each of these:

- https://circleci.com/gh/go-kit/kit/1222
- https://circleci.com/gh/go-kit/kit/1223
- https://circleci.com/gh/go-kit/kit/1224

I can't reproduce the failures locally. I suspect it is a nondeterminsm/timing issue related to the underlying Fargo library. It started happening after we merged the new SD PR, but I'm not sure that was the cause so much as the trigger

[2017-06-06 13:24] peterbourgon commented on #543
Given

[code]

then, by definition, _service_-level (or _business domain_) middlewares must implement (or delegate) the entire method set, because they must satisfy the MyService interface.

[code]

If you only want to affect a single method from the method set, you can embed the next MyService instead of treating it as a regular struct field.

[code]

If your middleware is agnostic to the busines

[2017-06-06 13:24] #543 closed

[2017-06-06 14:59] yurishkuro opened #546 "Change repo setting to "Allow squash merging"?"
@peterbourgon I just noticed that when you merged my main discovery PR it picked up all the commits. Have you considered changing the settings on the repository to "Allow squash merging" only? We use this on all Jaeger repo so that we don't have to keep asking contributors to squash manually. It makes for a much nicer commit history. The only problem is that it only preserves the authorship on Git

[2017-06-06 15:01] yurishkuro commented on #545
I'll take a look. Interestingly, it's the unit test that fails, not integration tests, but the latter could use some improvement as they use unconditional sleep().

[2017-06-06 15:03] seh commented on #545
I finally got CircleCI to display the failure, so I'm looking into it now too.

[2017-06-06 15:20] seh commented on #545
The most mystifying part I've found so far is why [this unit test expects only one instance to be present](https://github.com/go-kit/kit/blob/master/sd/eureka/instancer_test.go#L29). It looks to me like expecting two is more reasonable, given that [the application has two instances](https://github.com/go-kit/kit/blob/master/sd/eureka/util_test.go#L26-L29).

[2017-06-06 15:28] seh commented on #545
@yurishkuro, it looks like the one is a holdover in commit 432e29216b6440d7fc2a819478ee200ab357e550. The test could pass mistakenly if it retrieves the cache's state before the goroutine feeding the updates to the cache gets a chance to run for the first time. That's why [there's an "await" parameter for `fargo.ScheduleAppUpdates`](https://github.com/hudl/fargo/blob/a34ea4b0415d575082bd01ec7565441

[2017-06-06 15:35] yurishkuro commented on #545
@seh unless there is an error retrieving the instances in NewInstancer(), the state should be initialized before NewInstancer returns

[2017-06-06 15:38] yurishkuro commented on #545
But the following update could add 2 instances instead of one given to connection at construction, and that's certainly a race condition, the instancer could get either of those two states

[2017-06-06 15:38] seh commented on #545
`eureka.NewInstancer` [starts a goroutine here](https://github.com/go-kit/kit/blob/master/sd/eureka/instancer.go#L44). That goroutine may not get a chance to run before `NewInstancer` completes and the test goes on to probe the cache.

[2017-06-06 15:40] seh commented on #545
I could see adding a means to `eureka.testConnection` to wait until its first update has been delivered via `(*testConnection).ScheduleAppUpdates`. We'd have to add a mutex and boolean field.

[2017-06-06 15:41] seh commented on #545
If you're amenable, I can submit a proposal, but I know that this is mostly your code, so I understand if you'd like to fix it yourself. Please let me know how to proceed.

[2017-06-06 15:41] yurishkuro commented on #545
Yeah. Strictly speaking the main test should be checkin two conditions, that the Instancer gets the initial state when being constructed, and that it gets an update once something changes in the discovery.

[2017-06-06 15:47] peterbourgon commented on #546
I don't particularly like squash merging; I like my commit histories to reflect reality, dirty and messy :)

[2017-06-06 15:48] yurishkuro commented on #545
Please, feel free to submit a PR. It's not really my code, I only adapted it to the change in the discovery API.

[2017-06-06 15:48] yurishkuro commented on #546
ok then :-)

[2017-06-06 15:48] #546 closed

[2017-06-06 16:16] seh commented on #545
Can we change the signature of `eureka.NewInstancer`, or must we keep it as is to retain backward compatibility?

I ask because I can in a few things to allow the tests to work, but I suspect that callers of `eureka.NewInstancer` might also want a way to wait until at least one update has arrived before proceeding.

[2017-06-06 16:25] yurishkuro commented on #545
I am not sure it makes sense to me to have that kind of control for the constructor. Under normal circumstances the discovery system is already running somewhere by itself, and you have no guarantee as to when it would send an update. That's why the constructor synchronously calls getInstances(), so once the Instancer is created it has the current state of the discovery system.

[2017-06-06 16:27] seh commented on #545
The test [`eureka.TestInstancerScheduleUpdates`](https://github.com/go-kit/kit/blob/master/sd/eureka/instancer_test.go#L44-L54) is also racy, but it gets by due to sleeping for 50 milliseconds being enough, apparently, to first beat the goroutine updating the cache and then fall in behind its first update.

[2017-06-06 16:30] seh commented on #545
From the caller's perspective, he can't tell the difference between these event sequences:
- Slow start
  - `NewInstancer` retrieves instances synchronously
  - `NewInstancer` returns
  - `NewInstancer`'s goroutines retrieves more instances
- Fast start
  - `NewInstancer` retrieves instances synchronously
  - `NewInstancer`'s goroutines retrieves more instances
  - `NewInstancer` returns
Right now

[2017-06-06 16:38] yurishkuro commented on #545
But can't we instead control the sequence of events in the mock connection?

Alternatively, the NewInstancer() constructor could be changed to not call `getInstances` and instead execute conn.ScheduleAppUpdates() right there (instead of a separate go-routing) as long as there is a way to tell fargo to do the first update immediately, not after a delay. If we go in this direction, then I don't thin

[2017-06-06 16:39] seh commented on #545
I started implementing your latter proposal (passing true for `fargo.ScheduleAppUpdates`'s "await" parameter, got it wrong once already, and am considering how to revise it.

[2017-06-07 10:06] peterbourgon commented on #463
I guess this is done now :)

[2017-06-07 10:06] #463 closed

[2017-06-07 10:07] peterbourgon commented on #475
I guess this is done now :)

[2017-06-07 10:07] #475 closed

[2017-06-07 10:08] #509 closed

[2017-06-07 14:11] seh commented on #545
Please see #547 for a proposed fix.

[2017-06-08 08:26] #545 closed

[2017-06-08 08:35] peterbourgon opened #549 "sd/internal/instance: TestCache is flaky"
[code]

[Latest example](https://circleci.com/gh/go-kit/kit/1229), though there are many others. @yurishkuro any clue?

[2017-06-08 12:52] yurishkuro commented on #549
looking

[2017-06-08 14:22] esenac opened #551 "Catch panics in http Server"
Hi,
it could be useful to recover from panic in `transport/http.Server.ServeHTTP`. Panic could be caused by errors in encoding or decoding functions or in general in the code of the underlying service. Recover would allow to return a proper HTTP status code (i.e. a 500) instead of dropping the connection.
This is mostly useful for debugging purposes, in the current situation you won't get evidence

[2017-06-08 14:28] esenac commented on #551
A possible example could be the following:
[code]
In this way the error put in the context could be accessed and handled in the _finalizer_ without changing the current behaviour.

[2017-06-08 17:28] peterbourgon commented on #551
Why should we give special treatment to ServeHTTP? Why shouldn't we do the same recovery dance before descending into any call stack?

[2017-06-08 17:28] #549 closed

[2017-06-08 17:50] ChrisHines commented on #551
What to do with panics is a _policy_ choice that the main application should be allowed to make, which means that at the very least is would have to be configurable. I wonder if a standalone panic handler isn't a better approach. See the top answer to this SO question for an example: https://stackoverflow.com/questions/28745648/global-recover-handler-for-golang-http-panic

[2017-06-09 10:11] esenac commented on #551
@peterbourgon we are trying to introduce gokit as a standard for microservices in our company and we are fully based on REST over HTTP, so we have knowledge on that part and we focused just on `ServeHTTP`. Sure it would be a better option to have a common approach to panic handling for all transports.

@ChrisHines we actually developed a solution like the one you propose in our microservices, but

[2017-06-09 13:42] ChrisHines commented on #551
Just to be clear, Go kit is not involved with handling panics. It is the Go standard library that handles the panics in `net/http.Server` as seen here: https://golang.org/src/net/http/server.go?s=79791:79837#L1714

There was a proposal to the Go project (https://github.com/golang/go/issues/16542) to allow applications to disable this behavior of `net/http.Server`. The proposal was rejected, but a

[2017-06-09 14:44] dsudia commented on #528
@peterbourgon @feliksik

I'd be happy to help with this as well since we're entirely in AWS and CloudWatch would be ideal for us for metrics.

[2017-06-09 14:58] peterbourgon commented on #528
@dsudia There's an active PR at #540, feel free to chime in :)

[2017-06-09 15:22] esenac commented on #551
@ChrisHines yes, the idea of letting the finalizer inspect the panic value is intended at least to log the error. In our scenario, logs are structured and parsed by a centralized log system. This leads to the loss of standard logs printed in `net/http.Server` function that you referenced. Having the panic message available in finalizer could help to make it visible in such a logging scenario.

[2017-06-11 05:18] foklepoint opened #552 "Support Pretty printed JSON w/ kitlog"
Can we have an option to pretty print JSON with JSON Logger? We're using the go's native JSON encoder which has built in option to do this. I can prepare up a PR to add an option for this functionality if we are interested in supporting it.

[2017-06-11 15:44] ChrisHines commented on #552
I think the use case needs to be pretty persuasive here.

My first concern is that it would require the JSON encoder used by the log package to support the concept of pretty printing. I would like to keep the door open to using a faster JSON encoder tuned to the logging use cases as I experimented with in the json-log branch. That proof of concept demonstrated significant performance gains. I'm no

[2017-06-11 15:59] ChrisHines commented on #551
I agree this would improve the logging of panics. I have been using `log.NewStdlibAdapter` to redirect log events from `net/http.Server` into a structured logger, but we cannot parse panics correctly as identified by #233. So a solution that intercepts the panics sooner and handles them in a more Go kit compatible way is attractive.

I would want to make sure, however, that a default `kit/transpor

[2017-06-11 22:09] foklepoint commented on #552
My use-case was during debug/development, I want devs to look at the nicely formatted JSON outputted by the logger. It would make sense to not support this upstream in go-kit if there isn't a whole lot of interest.

[2017-06-11 22:43] ChrisHines commented on #552
In the debug/dev environment I would be inclined to pipe the output through another tool that does the pretty printing after the fact. I do that all the time when inspecting web API results coming back from `curl`. See, for example: https://lornajane.net/posts/2013/pretty-printing-json-with-pythons-json-tool.

[2017-06-11 23:55] foklepoint commented on #552
That's something I'm already doing. It just yet another dependency you need to be able to run an opinionated dev setup locally

[2017-06-12 01:21] yurishkuro commented on #552
The zap logging library just provides a plain text log encoder when in development. It writes logs as k=v space separated sequence, which is fairly readable. I personally prefer logs in one line, much easier to grep than pretty printed JSON.

[2017-06-12 11:35] AlexAkulov opened #553 "WriteTo() resets Counter but it doesn't reset Histograms"
Hello!
I use kit/metrics/graphite library for sending stats every minute. Values of Counters are reset after I call WriteTo() method and it is correct. But values of Histograms accumulate data from the start of the program and they don't reset values after calling WriteTo(). I think it is wrong. Usually it's not necessary to know what values of the percentiles from the start program are, I have to

[2017-06-12 16:04] peterbourgon commented on #553
Histograms in the program memory space collect observations (i.e. raw data); histograms as emitted to a backend like Graphite are already statistical summaries of those observations (i.e. not raw data). The underlying implementation (in our case, vividcortex/gohistogram) [takes care of managing](https://github.com/VividCortex/gohistogram/blob/master/numerichistogram.go#L114) the cardinality of obs

[2017-06-12 16:04] #553 closed

[2017-06-13 14:29] esenac commented on #551
Hi @ChrisHines and @peterbourgon , I prepared a PR with a possible implementation of what we discussed above. Please feel free to review and comment the changes. Thanks!

[2017-06-13 17:31] dkushner opened #555 "Using kit/log makes it impossible to debug applications on some OS X installations."
Since kit/log makes use of go-stack/stack to grab the current stack trace for file and line annotations, it suffers from the problem mentioned in [this issue](https://github.com/derekparker/delve/issues/852). I have submitted a PR on go-stack/stack [here](https://github.com/go-stack/stack/pull/12) that should address this problem, pending approval by @ChrisHines.

[2017-06-13 23:45] lockwobr commented on #555
+1

[2017-06-20 00:01] yurishkuro opened #556 "When will there be the next numbered release?"
The new discovery API has been a pretty large change

[2017-06-20 07:26] peterbourgon commented on #556
Yep! How about today? :)

[2017-06-20 07:54] peterbourgon commented on #556
https://github.com/go-kit/kit/releases/tag/v0.5.0

[2017-06-20 07:54] #556 closed

[2017-06-20 11:16] yurishkuro commented on #556
Thanks!

[2017-06-25 01:58] elthariel opened #558 "Bikeshedding"
Hi,

Just wanted to point out a small inaccuracy in the README:

As a former facebook employee, I can tell you they haven't 'largely adopted JVM-based stacks for their business logic'

Just a sidenote :)

Have a nice day !

[2017-06-27 19:37] ereOn opened #559 "Using a Windows color writer with an underlying sync writer negates the benefit of the sync writer"
We stumbled upon a weird issue where two goroutines writing to the same go-kit logger would have their logs interleaved even though the logger writes to stdout through a [SyncWriter](https://godoc.org/github.com/go-kit/kit/log#NewSyncWriter).

As it happens our logger was created with [`term.NewColorWriter`](https://godoc.org/github.com/go-kit/kit/log/term#NewColorWriter) which, on **Windows**, is

[2017-06-28 02:02] ChrisHines commented on #559
Yeah, that is not a good behavior. Looking at the code I'm not sure the suggested solution will preserve the proper coloring behavior in the general case. It looks to me like—at a minimum—[system calls to the windows console to change the current color mode](https://github.com/go-kit/kit/blob/master/log/term/colorwriter_windows.go#L139) need to be made in between writing runs of characters with th

[2017-06-28 20:06] ChrisHines commented on #559
One more thing. As a workaround for now, you can use `log.NewSyncLogger` to serialize each call to `Log` rather than synchronizing the `Writer` until we can work out an appropriate fix for this issue.

[2017-06-29 18:46] shurcooL opened #560 "transport/http: Strange phrase in NewServer documentation."
[http.NewServer](https://godoc.org/github.com/go-kit/kit/transport/http#NewServer) documentation says:

[code]

I don't understand what it means by "implements http.Server". [`http.Server`](https://godoc.org/net/http#Server) is a struct. Is there a typo in the documentation?

[2017-06-29 18:50] groob commented on #560
It implements the Handler interface. I agree this looks like an oversight.

[2017-06-30 07:14] #558 closed

[2017-06-30 07:14] #560 closed

[2017-06-30 14:02] shurcooL commented on #560
Thanks for resolving this issue @peterbourgon! Now it makes sense to me.

[2017-06-30 16:05] Xzya opened #562 "auth/jwt causes "fatal error: concurrent map writes" on concurrent requests"
Hello,

When having multiple concurrent requests to the same endpoint that contains the parser, it will cause `fatal error: concurrent map writes` since the same claims will be accessed by all requests at the same time. Here is some code to reproduce it:

[code]

Maybe use a factory instead of directly passing the claims?

Thanks!

[2017-07-01 09:13] GrantZheng opened #563 "Why not update oldcontext to new context?"
Hi,
   When I use the go-kit, I find some package use the "golang.org/x/net/context",  so that I have to depend and manage the "golang.org/x/net/context" in my code, otherwise it can generate error, why not update it?
thx

[2017-07-01 09:22] basvanbeek commented on #563
We can't as long as gRPC still relies on it. See https://github.com/grpc/grpc-go/issues/711 for "context" :)

[2017-07-01 13:53] ereOn commented on #559
@ChrisHines Thanks for the tip! That should work for us as a workaround.

[2017-07-01 15:06] #563 closed

[2017-07-01 15:12] peterbourgon commented on #562
Ugh, indeed jwt.ParseWithClaims does a [json.Decoder.Decode into the passed claims object](https://github.com/dgrijalva/jwt-go/blob/a539ee1a749a2b895533f979515ac7e6e0f5b650/parser.go#L56-L60). I guess we need to make a copy of the claims object [before we invoke ParseWithClaims here](https://github.com/go-kit/kit/blob/9917269ff0e9fc93df46474b411ea1716195a61b/auth/jwt/middleware.go#L88).

[2017-07-04 23:50] cam-stitt commented on #529
@peterbourgon I believe we can probably close this off now?

[2017-07-05 07:06] peterbourgon commented on #529
Jawohl.

[2017-07-05 07:06] #529 closed

[2017-07-06 20:05] chmorgan opened #565 "How to leverage kit/log logging in several .go files/libraries without producing an overwhelming amount of output?"
I have experience with log4cxx and log4net that support hierarchical logging. I'd like to include a range of logging in my libraries and .go files but I'm not sure what the best approach is to keep the console output down when doing so.

If I have an issue I'll raise the level to debug to see the details. Even though I know the issue is likely in a single or handful of .go files, or maybe in a lib

[2017-07-06 20:09] ChrisHines commented on #565
If you add a key that identifies the subsystem that is the origin of a log
event, then you can filter on that.

On Thu, Jul 6, 2017, 4:06 PM Chris Morgan <notifications@github.com> wrote:

[2017-07-06 20:13] chmorgan commented on #565
I think I kind of recall reading that somewhere but wasn't sure if there was an example. If not I could always contribute one and some docs if that is a gap. It's something that wasn't clear and could see that being quite helpful to other people.

[2017-07-07 03:11] ChrisHines commented on #565
I'd be happy to look at some ideas for examples. I will say in advance that I am likely to be rather conservative in what I would want to accept into the package itself, at least until it has been somewhat proven to be a good idea.

On a more supportive note, though, I would also be happy to brainstorm or review ideas for how to best use the Go Kit log packages to meet specific use cases. Based on

[2017-07-07 11:55] isinelnikov opened #566 "Add Stop() to Instancer interface"
Stop() func is not part of Instancer interface which makes it impossible to stop instancers in a generic way.

[2017-07-07 14:37] yurishkuro commented on #566
I think it's because there is no generic definition of "stopping" the instancer, it' implementation specific and sometimes meaningless, e.g. for a static/fixed instancer.

In practice this should not be a problem because when you instantiate an instancer as one of the implementations, you actually get back a concrete type, so if it has Stop() you can call it.

[2017-07-07 14:40] isinelnikov commented on #566
I just checked and all instancer implementations do have Stop that does various things including stopping background goroutine which all of them do.

As for concrete type, yes you get it. But if you want to make an abstraction in your code and hide details behind gokit's sd.Instancer, you have to type cast to Stop it which is very annoying.

[2017-07-07 14:55] yurishkuro commented on #566
Well, this guy doesn't: [FixedInstancer](https://github.com/go-kit/kit/blob/master/sd/instancer.go#L28)

You can still hide the abstraction. There is no generic __factory__ that gives you an Instancer, so your code always has to call explicit constructor, e.g.
[code]

[2017-07-07 15:16] isinelnikov commented on #566
Not hard to add an empty func.

Yes, I never said its impossible. If you hide construction in some func and want an ability to stop it, you have to return a stopper func yourself as another argument. Or construct an object that holds both instancer and stopper and provide your own interfaces. In any case its more work compared to just calling instancer.Stop() on the same object and be done with it

[2017-07-07 18:27] chmorgan commented on #565
My typical use case with log4cxx and log4net is to name the logger instance, the thing that you can control from the top level, after the class name (which by convention matches the file name).
If Go Kit log could control log output based on a given level in a given package name, function or file I think that would provide the same functionality without the additional level of having to manually a

[2017-07-07 19:36] basvanbeek commented on #566
Not hard to add empty func but definitely code smell.

If you don't like the proposed explicit example you could also use a consumer side interface.
Something like this:

[code]

[2017-07-08 01:59] chmorgan commented on #565
@ChrisHines I'm looking at the go-kit log code.

Should the approach be syntax like:

    logger = level.NewFilter(logger, level.AllowError())
    logger = log.WithPackage(logger, "package name here")

And after reading more of the code, should I be looking more towards a package valuer akin to DefaultCaller or one of the other valuers? That seems like a better approach.

[2017-07-10 15:12] rumbergd opened #567 "Cannot debug programs that use go-kit"
I see this issue in Gogland and VSCode IDEs. If I try debugging a service that uses go-kit, the process fails to start. The debugger panics, and the process is terminated.
The cause of this panic is in go-stack package (github.com/go-stack/stack), which is used by go-kit
 github.com/go-kit/kit/log.
When I start the program without debugging, everything works fine. When I start with debugging, find

[2017-07-10 15:25] peterbourgon commented on #567
Duplicate of #555.

[2017-07-10 15:25] #567 closed

[2017-07-10 16:23] ChrisHines commented on #555
This should be fixed as of the latest release of go-stack/stack: https://github.com/go-stack/stack/releases/tag/v1.5.4

[2017-07-10 16:23] #555 closed

[2017-07-10 17:43] peterbourgon commented on #567
@rumbergd Apparently this is fixed in the latest version, can you try it out and report back if it doesn't work on the other ticket? Thanks!

[2017-07-11 19:58] rumbergd commented on #567
Thank you. Yes, apparently PR was merged yesterday

[2017-07-15 01:05] chmorgan commented on #565
@ChrisHines any comments on direction? I'd like to hack something together but would appreciate some direction before starting.

[2017-07-15 02:25] jtaylor32 commented on #565
@chmorgan

I don't mean to cut into this issue, but for sure the "subsystem" approach to the logger is nice. Typically you would want a `key` to your "subsystem" or tag you want to add to the logger. This can be done something like this ...

[code]

Typically you can just keep adding key-value pairs and pass the logger to a specific service, in go-kit designs, or endpoint logging. It's all very fl

[2017-07-15 14:11] chmorgan commented on #565
@jtaylor32 that's why I was wondering if something like DefaultCaller but for the current package might work. I'm also not sure if those kvps will show up in the final output, it might be ok, or even helpful to have them there.

I'm just not experienced enough with go and go-kit/log to want to dig in without some clear direction.

[2017-07-17 09:48] rossmcf opened #575 "Add JSON RPC Transport"
I found a need for [JSON RPC](http://www.jsonrpc.org) on an upcoming project, and noticed that go-kit doesn't currently support this. I'd like to add this to the available transports.

I notice that an attempt was made at this earlier this year (PR #451). There's a PR on its way that continues @blainsmith's work.

[2017-07-17 16:23] #562 closed

[2017-07-17 16:25] peterbourgon commented on #403
I thiiiink this can be closed after #492. Unless the OP objects I'll do that.

[2017-07-18 18:38] jfhamlin opened #578 "Dogstatsd and statsd `func (g *Gauge) Add()` produces incorrect values across flushes"
Both `Add()` implementations update observations using [`lv.node`'s `add`](https://github.com/go-kit/kit/blob/master/metrics/internal/lv/space.go#L101), but the space is reset on every flush:
- https://github.com/go-kit/kit/blob/master/metrics/statsd/statsd.go#L131
- https://github.com/go-kit/kit/blob/master/metrics/dogstatsd/dogstatsd.go#L139

Following the documentation quoted below, a negative

[2017-07-18 20:34] peterbourgon commented on #578
The easier path is to take the sign option.

[2017-07-19 02:07] peterbourgon commented on #551
Sorry for the delay—GopherCon and all that. After a fair bit of thought I think the best course of action here is no action: I think if you want to do panic recovery on a per-transport basis, you can use per-transport middlewares pretty effectively. I've [added an entry to the gokit.io FAQ](http://gokit.io/faq/#panics-mdash-how-should-my-service-handle-panics) to that end. I hope this suits. Thank

[2017-07-19 02:07] #551 closed

[2017-07-19 16:55] #526 closed

[2017-07-19 23:15] peterbourgon commented on #565
I was speaking with a colleague who wanted something very similar to this: a component that they could wire into their logger stack, that would allow or deny certain key=value pairs based on API calls. They wanted to wire the API into an HTTP handler, to dynamically enable/disable logging on a per-package (or per-level, or whatever other) basis.

Strawman API:

[code]

[2017-07-19 23:18] #528 closed

[2017-07-20 06:31] cam-stitt opened #580 "JSONLogger let's error interface take priority over json.Marshaler"
From what I can see, if you have an object that implements both `json.Marshaler` and `error`, it will always use the `error` interface. This is despite the fact that code states that `json.Marshaler` should always win [here](https://github.com/go-kit/kit/blob/master/log/json_logger.go#L51). Consider this (I know it's not perfect, but we have a stack trace in our error that we want logged):

[code]

[2017-07-20 06:39] cam-stitt commented on #580
From what I can see, it's because of this: https://github.com/go-kit/kit/blob/master/log/json_logger.go#L48

[2017-07-20 06:43] ChrisHines commented on #580
Yes. I reproduced this bug and agree with your analysis. Would you like to submit a PR with a reproducing test case and a fix? I believe the fix is just removing the if statement you linked to above.

[2017-07-20 14:35] ChrisHines commented on #580
Fixed by #581.

[2017-07-20 14:35] #580 closed

[2017-07-21 20:17] chmorgan opened #584 "Thoughts on adding a more verbose log level, 'trace' to level/level.go etc?"
From my days with log4cxx trace would be used for the most verbose levels, debug for informative but only useful to developers, and info higher level info about more major operations.

I'm finding that I have some low level output that I'd like to optionally output but that it is too verbose/frequent for debug and debug statements are too verbose for info. Adding trace could be a good place for th

[2017-07-21 21:58] peterbourgon commented on #584
log4xxx libraries reify _tons_ of antipatterns, and a proliferation of log levels is chief among them. Even the current 4 levels encoded in package log/level are already [about 2 too many](https://dave.cheney.net/2015/11/05/lets-talk-about-logging), for my tastes—they're there only to act as a sort of bridge of compassion to developers coming from other environments. So a strong -1 from me on this

[2017-07-21 22:26] chmorgan commented on #584
@peterbourgon read that link and thinking about it. Appreciate you leaving the issue open for discussion at least for a little while.

[2017-07-22 22:23] yurishkuro commented on #209
@arangamani I think what you are after has been implemented in #492. Can you confirm?

[2017-07-23 19:30] arangamani commented on #209
@yurishkuro Looks like it will but I haven't dug into the details. I'll close this issue.

[2017-07-23 19:30] #209 closed

[2017-07-23 20:12] steven-ferrer commented on #295
I've tried using @basvanbeek's [pubsub](http://github.com/basvanbeek/pubsub) and here's the [result](https://github.com/steven-ferrer/kafka-pubsub).

I'm not really sure if I understood everything in the [pubsub](http://github.com/basvanbeek/pubsub) package. I just tried to plug it in and make it work. I would really appreciate it if someone would point out what I might be missing here.

[2017-07-23 20:32] joeblew99 commented on #506
@basvanbeek
true, but what if you want to use UDP and NAT punch through for things that are more Peer 2 peer ? This is where QUIC helps . Correct me if i am wrong..

[2017-07-25 20:43] foklepoint commented on #552
I believe this can be closed. Doesn't seem like there is a lot of interests and the work-arounds mentioned are good enough

[2017-07-25 23:01] #552 closed

[2017-07-26 19:56] jfhamlin commented on #578
From DataDog support:

So the dogstatsd implementation of `Gauge` will have to track the gauge value. I'm happy to work on a fix for this, but I don't have a firm ETA.

[2017-07-29 19:56] blainsmith commented on #295
I've helped author something similar in Node way back if it helps. https://github.com/oddnetworks/oddcast

[2017-07-31 11:13] feliksik opened #590 "Cloudwatch metrics are accumulating on every Send() call, but should be Reset"
On a call to cloudwatch.Send(), the state of the counter is not reset.
That means the value is always increasing.

This doesn't make sense to me, as Cloudwatch accumulates the values for you. It seems like we are basically implementing a counter with a Gauge-like behavior now.

Can we agree this is a bug?

[2017-07-31 11:16] feliksik commented on #590
See PR #591 for a failing test case.

[2017-07-31 12:14] feliksik commented on #590
I'm also not sure how the Histogram values are supposed to be reset.

Furthermore, note that if we move the test to teststat.TestCounter(), more (but not all) services fail. The still-succesful tests show which implementations use Reset().Walk().

[code]

[2017-08-01 09:32] peterbourgon commented on #590
Histograms don't need to be reset.

[2017-08-01 12:32] medzin opened #593 "Add a MultiProvider implementation for metrics/multi package"
Currently there is no implementation of a [Provider](https://github.com/go-kit/kit/blob/master/metrics/provider/provider.go) interface for the [metrics/multi](https://godoc.org/github.com/go-kit/kit/metrics/multi) package. Adding a `MultiProvider` that accepts a slice of other `Provider` implementations would make using `multi` package more convenient.

[2017-08-01 12:48] peterbourgon commented on #593
Metrics are being refactored for the next release; although there is no ETA, this work is probably not worth doing...

[2017-08-01 14:31] medzin commented on #593
Will the new version of the metrics package support the use of multiple providers for one metric? It is very convenient to use a combination of expvar and some external metrics storage.

[2017-08-01 14:35] peterbourgon commented on #593
Yes. The current version of the metrics package also does this just fine, for the record; just not with the Provider interface.

[code]

[2017-08-02 09:55] feliksik opened #595 "Include a unit for Gauge/Histogram values?"
Would there be any sensible way to include a unit with gauges/histograms? Related to #569, but separate issue to keep the topic focused.

I think this would be part of the metric instantiation, e.g. provider.NewGauge("theName", gokit_units.Celcius)

I don't know about the other backends, but [Cloudwatch supports](http://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_MetricDatum.html)

[2017-08-02 20:11] peterbourgon commented on #595
Units should be part of the name string. Per-implementation support for units is out of scope for the Go kit metrics package, unless there is some coherent way to layer it in.

[2017-08-02 20:30] feliksik commented on #595
Yes indeed that's the difficult thing, and maybe making that coherent/generic would make everything too difficult.

The unit as part of the metric name wouldn't further complicate the generic gokit API part.

To use the metric semantics in the relevant backend, a specific provider (e.g. cloudwatch) could have a special interpretation for a gauge called "throughput:Kilobytes/Second", in that it wou

[2017-08-04 16:45] travissalascox opened #597 "Use of deprecated grpc Metadata FromContext and NewContext"
Was just looking through the grpc [metadata](https://godoc.org/google.golang.org/grpc/metadata) docs the other day and noticed `metadata.NewContext` and `metadata.FromContext` have been deprecated. From [grpc-metadata](https://github.com/grpc/grpc-go/blob/master/Documentation/grpc-metadata.md) looks seems the new prefer way is to use `FromIncomingContext` and `NewOutgoingContext` respectively (gra

[2017-08-04 18:24] peterbourgon commented on #597
Please do!

[2017-08-07 10:16] #597 closed

[2017-08-08 19:39] adamryman commented on #70
Tune has also been working on something kind of like this. It is called `truss`.

https://github.com/TuneLab/truss

[2017-08-08 21:10] ryan0x44 opened #600 "User-facing vs. logged errors"
As a service owner, I want as much information as possible about errors that occur, but I might not always want to reveal details to consumers of my service.

For example, say you service has a database error `pq: invalid input syntax for integer: \"b\"`.

1. You want your API to return a HTTP Status of 500 with Content-Type of [application/problem+json](https://tools.ietf.org/html/rfc7807) and bo

[2017-08-08 21:39] peterbourgon commented on #600
Errors returned by endpoints should probably indicate _transport_ errors that are worth retrying. That's because it's the only mechanism that safety-style middlewares like circuit breakers and rate limiters have to determine what to do with a given request. Business-domain errors should probably be baked in to your response struct, using whatever degree and depth of context is appropriate for you.

[2017-08-08 21:39] terinjokes commented on #600
Hey @ryan0x44!

In my microservices, I return the error as part of the `Endpoint` response. Then, while encoding in the transport, I check if the response has an error. For this I have an `errorer` interface, [lifted from the `shipping` example](https://github.com/go-kit/kit/blob/7c0038db5f6361f85f612e4154f61e4f6d6a83b2/examples/shipping/booking/transport.go#L167-L178):

[code]

By this point the

[2017-08-08 22:20] ryan0x44 commented on #600
Thanks @peterbourgon and @terinjokes ! I'm still trying to grok how to handle logging the detailed error and returning the user-friendly error.

Is "worth retrying" the best way to delineate these errors?
* Response struct error = business-logic errors (e.g. validation issues) = this will definitely fail if you retry the same request
* Error value = transient errors (e.g. db connection issues, ser

[2017-08-08 22:32] handrews commented on #600
The HTTP spec includes discussions of which codes are intended to be retry-able and under what circumstances and mechanisms (e.g. the `Retry-After` header).  For instance, 411 has a straightforward fix and retry condition, while 409 responses SHOULD include enough information for the client to retry the fix successfully.  413 may be retry-able, and indicates that with `Retry-After`).

Ideally, any

[2017-08-11 10:03] peterbourgon commented on #600
Let's be more precise. If an error is returned by an endpoint, it's visible to endpoint middlewares and the transport layer; you can safely assume those layers might make decisions based on the presence of that error. If an error is enclosed in a response type, it's not visible‡ to endpoint middlewares or the transport layer; you can safely assume stock Go kit‡‡ won't make decisions based on the p

[2017-08-11 16:48] handrews commented on #600
I think many of those non-transport errors in @ryan0x44 's examples still do somewhat map into the response codes:

* ***500**, **409**, or **400** depending on the error* DB errors would be returned by a Service as an error value, which would then be returned by an Endpoint as an error value.
* ***409*** Business-domain errors such as "Exceeded valid number of social links on your profile" would

[2017-08-11 20:21] peterbourgon commented on #600
Yes. Any reasonably sophisticated service will want to introspect response types to extract errors, and map them to HTTP response codes (or the equivalent in whatever other transport is being used).

[2017-08-13 01:09] travissalascox commented on #184
@peterbourgon was wondering if this was still something you were wanting? and if so, what do you suggest to do about the `net/rpc` freezing thing?

[2017-08-16 15:58] peterbourgon commented on #584
I'll close this in the next day or two unless someone has some revelations.

[2017-08-19 05:58] DimaSalakhov opened #604 "Add Basic Auth support"
Have faced a need for a Basic auth support for one of http servers I've wrote. As there wasn't such middleware handy, I've wrote my own one and would be happy to share it with others.

[2017-08-19 18:21] peterbourgon commented on #184
transport/netrpc would still be happily accepted, but I guess it would serve primarily as an example. transport/thrift would be quite nice to have, primarily as a way to get the same set of transport-level helpers in Thrift as we have in HTTP and gRPC — by this I mean the ServerBefore, ServerAfter, Finalizer, etc. funcs.

[2017-08-19 18:22] peterbourgon commented on #604
Sure, I'd be happy to review. Got a link to some code, or a PR?

[2017-08-19 22:35] DimaSalakhov commented on #604
Great! Have opened PR #605

[2017-09-10 19:57] chrisprijic commented on #295
=I think the above implementation is pretty solid; however I have one addition I think would be good:

The Message could have an optional Metadata field. I'm partial to a `context.Context` object or anything else that best fits this idea. This metadata would be passed as an additional item to the Publisher and will be an optional Metadata field on the Messages returned from the Subscriber.

This i

[2017-09-12 20:16] chuej opened #607 "Issues accessing JWT claims on context"
I'm using the JWT middleware to parse JWT claims and assign them to the request context.
[code]
 That seems to be working, but when I try to access the JWT claims in an endpoint, the value is always `nil`:
[code]

When I print the context (line 2), I see the `JWTClaims` key being set:

    .WithValue("JWTClaims", &job.Claims{User:"jrocket@example.com", StandardClaims:jwt.StandardClaims{Audience:"w

[2017-09-12 20:24] ChrisHines commented on #607
I think you want to retrieve the claims with a line like this:
[code]
That's the key that `jwt.NewParser` uses to put the claims in the context, as seen here: https://github.com/go-kit/kit/blob/f7593d19082ad15f6376f12c746d71d680aa1666/auth/jwt/middleware.go#L138

[2017-09-12 20:26] chuej commented on #607
Works! Thanks for the speedy response!

[2017-09-12 20:26] #607 closed

[2017-09-14 14:47] esenac opened #608 "Time unit mismatch in statsd metrics Observe()"
Hi @peterbourgon!
We are using statsd for metrics, and it seems we found a mismatch in time units between `metrics/statsd.Timing`and  `metrics.Timer`.
Timer's `ObserveDuration` method calculate the elapsed time [in seconds](https://github.com/go-kit/kit/blob/f7593d19082ad15f6376f12c746d71d680aa1666/metrics/timer.go#L23) and passes it to the underlying Histogram's `Observe` method, that in case of

[2017-09-14 17:57] peterbourgon commented on #608
metrics.Timer was not built to be compatible with statsd.Timing! But I would be happy to accept a PR that changed the unit on a metrics.Timer. I guess it should be implemented as a new method on the Timer struct, e.g. Unit(time.Duration), with an implied default of time.Second.

[2017-09-14 20:33] henriquechehad opened #609 "panic() is not working with logger"
When happens the `panic()` during the application execution, it should let the `panic` happen, but instead of it the logger is avoiding the `panic` and just showing:

[code]

When the go-kit logger is not being used:

[code]

[2017-09-14 20:40] ChrisHines commented on #609
Are you using `NewStdlibAdapter`? The multi-line output of the panic is a challenge to parse in that context. See also https://github.com/go-kit/kit/issues/233.

[2017-09-14 20:42] henriquechehad commented on #609
yes,

[code]

but at least it should let the panic happen

[2017-09-14 20:47] ChrisHines commented on #609
The Go kit log packages don't recover any panics. The standard library `net/http.Server` does that.

[2017-09-14 21:04] henriquechehad commented on #609
@ChrisHines but that happens only with go kit-log, when I disable it the problem doesn't happens. Is using net/http.Server in some place of go-kit log?

[2017-09-14 21:31] henriquechehad commented on #609
I think i got the problem, is needed to parse the `panic` message here: https://github.com/go-kit/kit/blob/master/log/stdlib.go#L68

Probably need regex changes. Did you already start it?

[2017-09-14 22:54] ChrisHines commented on #609
No. I don't know how to solve the problem. The technique used by StdlibAdapter is to implement `io.Writer` and parse all the bytes written to it to extract structure and pass that to a go-kit `log.Logger`. That works great under the assumption that each log event is terminated by a single newline. But the output of a panic spans many lines and I don't know of a good way to know which line is the l

[2017-09-15 09:06] esenac commented on #608
Opened PR #610!

[2017-09-17 20:16] peterbourgon opened #612 "sd/etcd now requires Go 1.9"
sd/etcd imports github.com/coreos/etcd/client, which as of [this commit 11 days ago](https://github.com/coreos/etcd/commit/f65aee0759633966e0e1052d0c18079da551d24e#diff-62608e08adc29a8d6dbc9754e659f125) now [requires Go 1.9](https://github.com/coreos/etcd/issues/8548#issuecomment-329636032) due to the context and aliasing blah-blah-blah. Sigh.

I judge the contortions required to keep Go kit maste

[2017-09-17 20:23] #566 closed

[2017-09-17 20:27] #612 closed

[2017-09-18 06:21] hsluoyz opened #614 "Add authorization (AuthZ) support"
Hi. Currently there's no AuthZ support in kit. Only AuthN exists. [Casbin](https://github.com/casbin/casbin) is a popular and powerful authorization (AuthZ) library that supports models like ACL, RBAC, ABAC. I think we can add it here?

[2017-09-21 14:36] embs opened #615 "Do not always override operation name when tracing endpoints"
I'd like the operation name not to get overwritten in a server span when it's already set by the client who is calling the endpoint -- which is the case when using same span for client/server, like here: https://github.com/microservices-demo/user/pull/53

I guess this behavior could be achieved by modifying https://github.com/go-kit/kit/blob/0d313fb5fb3a94d87d61e6434785264e87a5d740/tracing/opentra

[2017-09-21 14:49] basvanbeek commented on #615
it is Zipkin specific and Zipkin standard behavior

[2017-09-21 15:05] yurishkuro commented on #615
it is illegal to start a span via OpenTracing API without an operation name. Also it is generally a bad idea trusting the client to name your server endpoint, the server is the authority.

btw, Jaeger (http://github.com/uber/jaeger), recently accepted to CNCF, does not mix client/server spans, if you want to try it out.

[2017-09-22 17:36] denniszl opened #616 "Allow for errors before decoding (e.g. serverbefore)"
I want to add some validation for JWT tokens in a function like ServerBefore but I'm unable to do so because I can't error in this function (outside of putting it in the context). I think this is a logical place to allow for validation since it makes sense to return here if something goes wrong.

As a workaround I'm planning on wrapping the decoder but I think I'd still prefer to do it in somewher

[2017-09-22 18:08] ChrisHines commented on #616
The current suggested approach is to use ServerBefore to add the JWT to the context, then use endpoint middleware to validate the JWT and return errors. The rationale is that the ServerBefore is transport specific, while endpoint middleware applies to all requests regardless of which transport it arrived on.

[2017-09-22 18:11] denniszl commented on #616
So the problem we're running into the issue that since at the moment we're decoding before the middleware is run we're going to throw an error from decoding even if the JWT was invalid, and we'd like to do it the other way around.

[2017-09-25 07:38] peterbourgon commented on #616
Why?

[2017-09-25 16:23] embs commented on #615
Thank you for your kind suggestions and explanations.

I'll try moving towards using single-host spans, then.

[2017-09-25 16:23] #615 closed

[2017-09-25 19:09] denniszl commented on #616
I think if the JWT is invalid we want to check the JWT first for security (we don't want to decode a bunch of arbitrary bodies from someone with an invalid JWT). We also just want to return a 403 here, which can't happen if we run the JWT code in middleware, which runs after the decoder.

[2017-09-28 01:07] walmav commented on #326
Looking around in the examples I could not find an example of grpc streams. Can you please point me to the example link here. Much appreciated.

[2017-09-28 12:56] krasi-georgiev commented on #185
I also thing that this makes much more sense.

Templates in 'go-swagger' gives you some  freedom, but go kit propagates non opinionatedness  so bottom up approach fits better with this model.

The most important real benefit for me is when I don't have to explain and document  how to use the service - just a link to http://petstore.swagger.io/ with the json spec as a parameter and that is it!

for

[2017-09-29 00:21] nicolaiskogheim commented on #608
This should be closed, right? :)

[2017-09-29 09:45] esenac commented on #608
@nicolaiskogheim yep, thanks.

[2017-09-29 09:45] #608 closed

[2017-09-29 17:49] paultyng commented on #185
I think the issue with generating a spec from code is that you would have to have a pretty complicated DSL to describe all the possible response status codes, params, authentication etc.

We originally tried a DSL in an internal REST API that we wanted to published Swagger for, it used [go-openapi/spec](https://github.com/go-openapi/spec) to build and generate the Swagger JSON from a supplied Go `

[2017-10-02 08:26] peterbourgon commented on #295
This seems like a reasonable plan of attack. The hard part is making it sufficiently general to be useful across different message busses. My intuition is that it's possible.

With the caveat that I've given this specific idea only superficial analysis, I think the introduction of a Router concept is probably a bad one. The goal here shouldn't be to build a general-purpose pipes-and-connectors fra

[2017-10-02 08:38] peterbourgon commented on #616
There are three stages of request decoding/parsing:

1. Collecting information from the transport domain
2. Confirming the request is syntactically valid
3. Confirming the request is semantically valid

The HTTP transport adapter enforces decoding/parsing in this order. BeforeFuncs perform (some of) the work of stage 1. DecodeRequestFuncs do the work of stage 2. Endpoint middlewares and the servic

[2017-10-02 11:54] peterbourgon commented on #185
OK, serious question, which informs decisionmaking, and which I still don't fully grok. Does Swagger (OpenAPI) intend to _describe_ an existing codebase, and thus be generated from it? Or does it intend to _define_ a specification that a codebase should implement?

[2017-10-02 12:00] basvanbeek commented on #185
It started as a way to describe an existing restful API and still allows to do so but in time and rebranding to OpenAPI it tries to be an IDL too.

Taken from the website:

[2017-10-02 12:01] peterbourgon commented on #185
Ugh. Can't be all things to all people — gotta pick one. Am I off base here?

[2017-10-02 12:10] basvanbeek commented on #185
No you're on point IMHO. With Go kit we have our service interface as our source of truth and we create our transport/api wrappers around it. Can't have multiple sources of truth.

I'm perfectly happy with Go kit service description being source of truth. If we want swagger support I think the most to be guaranteed would be a description generator / scaffolder which is part of kitgen.

[2017-10-02 13:00] peterbourgon commented on #326
gRPC streams have no direct Go kit support.

[2017-10-02 17:57] paultyng commented on #185
@peterbourgon I think you are on target as well. Swagger is also so coupled to HTTP semantics and go-kit is so unopinionated, it would be hard to do without either giving up some enforcement/adherence to spec in generated server code (ie. not limiting status codes or response types, limited JSON schema options) or significantly complicating the transport layer as go-kit just doesn't collect that m

[2017-10-03 09:37] AlmogBaku opened #618 "Release a new version"
The last version released a few months ago.
Since then a lot changed, including critical HOTFIXES such as support of grpc 1.6

Please release a new version 😇

[2017-10-03 16:12] peterbourgon commented on #618
Will do.

[2017-10-04 05:22] johnDoe2018 opened #620 "Has anyone ever used gokit in real project?"
Are there any companies who use gokit in the wild?

[2017-10-06 13:35] gedw99 commented on #295
@peterbourgon

If it can provide introspection, that allows others to build things higher on top.
For example i only do choreography and never orchestration. Learnt my lesson ..
If i can have an API for querying who subscribes to who thats hugely useful.
I have make it so i can it the matrix at design time and runtime.
Design time uses AST, and runtime uses basic heart beating.

I have been using

[2017-10-06 13:36] karthikmuralidharan commented on #620
I remember hearing Uber using it for their microservices.

[2017-10-06 17:33] yurishkuro commented on #620
not a lot, but yes, a few projects use it.

[2017-10-07 18:33] spiffcp opened #621 "grpc 1.6.0"
It looks like this release on August 30th for grpc brought in some API changes that conflict with the grpc package (gokit/transport/grpc): client and server files respectively.

https://github.com/grpc/grpc-go/releases/tag/v1.6.0
https://github.com/grpc/grpc-go/pull/1392

error encountered:
go-kit/kit/transport/grpc/client.go:94:9: undefined: metadata.NewContext
go-kit/kit/transport/grpc/server.go

[2017-10-07 18:47] basvanbeek commented on #621
Hi @spiffcp,

This has already landed in master but the latest release of Go kit does not include this change.

@peterbourgon: maybe time to cut a new release?

[2017-10-07 18:49] basvanbeek commented on #621
closing... dupe of #618

[2017-10-07 18:49] #621 closed

[2017-10-09 09:15] peterbourgon commented on #618
https://github.com/go-kit/kit/releases/tag/v0.6.0

[2017-10-09 09:15] #618 closed

[2017-10-11 02:37] groob commented on #620
We use Go-Kit in multiple projects at [github.com/kolide](https://kolide.com)

[2017-10-12 22:53] pmallela commented on #620
I heard Livestream uses it, not sure to what extent.

[2017-10-13 07:57] #403 closed

[2017-10-13 09:49] sas1024 commented on #620
Yes, of course. We are using go-kit for our microservices.

[2017-10-19 16:09] damianoneill opened #624 "Question: gRPC Streaming"
From this document https://github.com/go-kit/kit/tree/master/transport/grpc there is the following comment.

'_One important note is that while gRPC supports streaming requests and replies, go-kit does not. You can still use streams in your service, but their implementation will not be able to take advantage of many go-kit features like middleware_.'

Are there plans to add gRPC streaming support

[2017-10-19 16:47] peterbourgon commented on #624
No active plans at the moment. I would happily consult on an implementation and review a PR.

[2017-10-19 16:47] #624 closed

[2017-10-21 15:25] kujtimiihoxha commented on #70
You can also check out my new generator https://github.com/kujtimiihoxha/kit 🎉

[2017-10-23 11:09] kingeasternsun opened #625 "how to use go-kit to process the file upload of download handler"
I suppose if go-kit endpoint can be used to process the file upload or download request, so the file upload or download count and latency can be logged

[2017-10-23 15:46] peterbourgon commented on #625
Yes, it is possible. Can you please clarify your question?

[2017-10-25 05:04] karthikmuralidharan commented on #295
[code]
Does it make sense to use a callback method instead of exposing the messages channel directly ?

https://github.com/golang/go/wiki/CodeReviewComments#synchronous-functions

[2017-10-25 05:57] huangjunwen opened #626 "Potential deadlock in sd.internal.instance.Cache ?"
`Cache.Update` holds a lock and calls `registry.broadcast` which can be blocked if any one of the receive channels is not ready:

[code]

But if at the same time the receiver does not want to listen to it anymore and calls `Cache.Deregister` which in turn waits for the lock, this will cause a deadlock, isn't it ?

[2017-10-25 11:38] peterbourgon commented on #626
Can you write a failing test?

[2017-10-25 11:44] peterbourgon commented on #295
@karthikmuralidharan Given the domain is actually asynchronous here, the linked section probably doesn't apply. Given that, the decision to model it as a returned chan vs. a received chan vs. a callback function is mostly moot.

[2017-10-25 16:25] yurishkuro commented on #626
I don't think this qualifies as a deadlock - you're saying _externa_ calls to cache might be blocked. If you're registering a channel you are not listening to, then it's a client error.

The alternative is to use async send to channels, which may lead to data loss.

[2017-10-25 23:38] huangjunwen commented on #626
Hi, here is a simplified test version. Basically it emulates a sd backend with several updates in a short time, if any listener can't not keep up and deregister, it will cause deadlock.

[code]

panic:
[code]

[2017-10-26 00:42] yurishkuro commented on #626
I think the pattern you're applying is fundamentally incorrect. When you register a channel, you *should be already listening on it*, i.e. register / deregister should not be happening in the same go-routine as the one reading from the channel.  I.e. if you move the channel listening to a separate go-routine, then there would be no deadlock:
[code]

[2017-10-26 01:34] huangjunwen commented on #626
@yurishkuro Hmmm... you are right. This implies that the channel passed in should be always available to consume events before deregister. I think the document can add some hints about this. I was wrongly using this in my connection logic: register a channel with 1 buffer slot to get all the instances immediately then deregister.

[2017-10-26 11:23] Xzya opened #627 "Consul SD causing 100% cpu usage if the service is down"
Hey,

It seems that if the consul service is down, the Instancer will constantly try to get the list of services, causing 100% CPU usage until the service is back up. There should probably be a backoff mechanism which will only try after X amount of time. Here is how I'm using the client:

[code]

Terminal output:
`ts=2017-10-26T11:08:33.168160872Z caller=instancer.go:69 service=maindb tags=[local

[2017-10-27 15:16] dreamer-nitj commented on #614
Hi, I am planning to contribute to open source and this looks good enough. I have recently started on go-programming and would like to contribute to this project. How can i work on adding the AuthZ support in kit?

[2017-10-27 15:41] xla commented on #614
@dreamer-nitj A good starting point is to get inspiration from looking at existing auth implementations like the [JWT](https://github.com/go-kit/kit/tree/master/auth/jwt). As soon as you feel comfortable about a possible approach open a PR for review and discussions.

[2017-10-28 03:43] dreamer-nitj commented on #614
@xla sure. let me look at the possible approaches. Thanks 👍

[2017-10-28 12:36] kingeasternsun commented on #625
for example, for the case of upload file,how to write the **Decoder** of decodeUploadFileRequest especially for the big file. for the case of download file, how to write the "Encoder" of decodeDownloadFileResponse,expecially for the big file .

for the small file ,I think i can write the Decoder use the method of read the full data of formfile one -off,like this:
[code]
but for the giant file, rea

[2017-10-29 07:33] dreamer-nitj commented on #614
Hi @xla ,

I am reading the source code and working out the examples currently and in that process i wanted to use the basic authN middleware of go-kit in stringsvc2 example by inserting this code:

`	var uppercase endpoint.Endpoint
	uppercase = makeUppercaseEndpoint(svc)
	uppercase = basic.AuthMiddleware("ankit", "ankit", "ankit err")(uppercase)
	var count endpoint.Endpoint
	count = makeCountEndp

[2017-10-29 14:07] dreamer-nitj commented on #614
I don't understand why is this issue suddenly closed :-(

[2017-10-30 10:32] xla commented on #614
@dreamer-nitj Not clear to me why it was closed.

The reason your example is not working is that the middleware dependes on a value being present i the [context](https://github.com/go-kit/kit/blob/master/auth/basic/middleware.go#L73). Usually auth packages have their own way of populating it. In this case it's the common `Authorization` header which conveniently is handled by [`transport/http.Popu

[2017-10-30 19:24] peterbourgon commented on #625
You can construct the various fooRequest and fooResponse types to contain io.Readers, attach them to the request and/or response bodies, and stream from them.

[code]

[2017-11-01 09:53] dreamer-nitj commented on #614
@xla Thanks a lot for pointing it out. :)

[2017-11-04 04:42] kingeasternsun commented on #625
Thanks  very  much for the code,but how  can i convert from formfile to r.Body

[2017-11-04 23:54] falmar opened #629 "Question: Where to do authorization for a certain service methods?"
Hello, I'm fairly new to go-kit and micro-service architecture as well.

I have a doubts on how to properly use go-kit for the following problem

I have a JWT that contains the authenticated user's id as a claim, and per each service's method I want to check if the user actually have permission to update its own **client** record, but it seems that wherever I put it, it feels wrong. What are the b

[2017-11-06 07:24] #626 closed

[2017-11-06 15:10] Tkanos commented on #620
In my company it's on production.

[2017-11-06 18:02] peterbourgon commented on #625
I think this is a question that's out-of-scope for the Go kit project! :)

[2017-11-07 13:02] groob commented on #625
I did write a file upload decode/encode function in a project.

https://github.com/micromdm/micromdm/blob/d8b044fe1b6bf9ce67e9e6896038e7382e72fd5f/core/apply/transport_http.go#L99-L118

`http.Request.FormFile` is what you're looking for.

[2017-11-07 21:45] peterbourgon commented on #625
Oh nice! Thanks @groob. Hopefully that's useful as an example.

[2017-11-07 21:45] #625 closed

[2017-11-07 22:12] peterbourgon commented on #629
The general categorization rules are

- transport/[DecodeRequestFunc](https://godoc.org/github.com/go-kit/kit/transport/http#DecodeRequestFunc) — pure syntax validation, e.g. reject malformed JSON
- endpoint.Middleware — validation that should be transport-independent, but without introspecting on your domain objects, e.g. reject more than 100 reqs/sec from some IP
- Your service implementation —

[2017-11-07 22:49] falmar commented on #629
Yes it does help thanks,

It broke it in parts as follow:

- ServerBefore - Extract token string from request
- endpoint.Endpoint middleware - Verify JWT is valid (sign/expiration/subject) - Authentication
- Service middleware - Verify user's JWT contains necessary scopes/roles - Authorization
- Service implementation - Verify if user is the owner of the resource - Authorization

This way it make

[2017-11-08 00:02] peterbourgon commented on #629
🎉

[2017-11-08 00:02] #629 closed

[2017-11-10 00:57] csk6124 commented on #620
We are using this library on production.

[2017-11-11 05:06] dreamer-nitj commented on #629
@falmar If you had to implement the expiration logic for auth tokens based on the how long the token has been idle, wouldn't it be tricky to implement it as a library compared to if the authentication was handled using a service?

[2017-11-11 14:01] falmar commented on #629
Hey @dreamer-nitj, this is actually the authentication service :D. Other services may not check validity of the JWT, but authorization alone like scopes/roles or resource owner within themselves

[2017-11-24 13:15] Vetcher commented on #620
In our company, all go microservices uses go-kit

[2017-11-24 13:21] Vetcher opened #631 "Service generator"
Hi, could you look at [small tool for generate microservices](https://github.com/devimteam/microgen) and write your thoughts about it?

[2017-11-26 15:35] anarcher commented on #631
WOW! IMHO, the generator is very good. @peterbourgon What do you think about it? :-)

[2017-11-28 15:56] izaurio opened #632 "Can't use context values are defined in middleware in ServerFinalizer"
If you look at the code, you can see how to pass the value of the context.
https://github.com/go-kit/kit/blob/9917269ff0e9fc93df46474b411ea1716195a61b/transport/http/server.go#L108

Schematically:
- ctx init
- ctx1 server before
- ctx1.1 middleware1
- ctx1.2 middleware2
- ctx1.3 endpoint
- ctx2 server after
- ctx2 server finalizer

If you set the value of the context in middleware, it will not be

[2017-11-28 19:13] peterbourgon commented on #632
If a middleware (like jwt.NewParser) wants to inject information into the context, it may do so.

[code]

The (k, v) pair injected is available in the context of any subsequent middleware, as well as in the service layer. You can log the (k, v) in any of those places. In general, if you have advanced logging needs, you should be logging at the service layer, either in the concrete service implemen

[2017-11-28 19:22] izaurio commented on #632
Unfortunately, this is not the answer.

I want to add data to the context middleware, as you showed in the example. But to use the data I want here: https://godoc.org/github.com/go-kit/kit/transport/http#ServerFinalizer. Now I can't do that. In finalizer not passed a context value that has been changed in middleware. And it's not obvious behavior.

[2017-11-28 19:31] peterbourgon commented on #632
What specifically do you want to do?

[2017-11-28 19:42] izaurio commented on #632
The web application receives the request. The token is passed in the request header. Use jwt.NewParser as middleware. Get access TokenClaims. In particular TokenClaims.UserID. After processing the http request to produce logging (kithttp.ServerFinalizer(logRequest(logger)).
[code]
I want to get the value of the user id when logging http request. It is normal practice to do so?

[2017-11-28 19:44] peterbourgon commented on #632
Don't use ServerFinalizer for this; use a service middleware that you write yourself.

[2017-11-28 19:46] izaurio commented on #632
Then a related question. How to get status code of response? It was the only reason to use ServerFinalizer.

[2017-11-28 19:55] peterbourgon commented on #632
You already know the status code of your response. By default it is 200 OK. If you want something else, your error and/or response types should implement [transport/http.StatusCoder](https://godoc.org/github.com/go-kit/kit/transport/http#StatusCoder), and you can log the status code in the service layer directly.

[code]

The [DefaultErrorEncoder](https://godoc.org/github.com/go-kit/kit/transport/

[2017-11-28 20:03] izaurio commented on #632
It's clear. Thank you.

[2017-11-28 20:03] #632 closed

[2017-11-30 01:41] joe94 opened #633 "Edge case not handled in prometheus makeLabels function"
The following function (https://github.com/go-kit/kit/blob/master/metrics/prometheus/prometheus.go#L161
) will have an index out of bounds error when labelValues is of odd length.

In the odd length case, one approach is to ignore the last unmatched value:
[code]

[2017-11-30 08:13] ifraixedes commented on #633
I prefer a crash and have a bug that having to find the bug when I'm inspecting the metrics and see that I'm missing one and have to find where I missed.

If that happens, it should be a bug, so I don't think that the library must be resilient about programmatic errors.

[2017-11-30 09:27] joe94 commented on #633
@ifraixedes, I think I see your point. However, from a user of the library's perspective at least a panic with a corresponding error message should be there such that the user wouldn't need to dig into library code logic to find what the mistake was.

[2017-12-01 04:51] peterbourgon commented on #633
@joe94 What does the Prometheus client library do in this situation?

[2017-12-01 08:32] joe94 commented on #633
@peterbourgon, the Prometheus go-client does not run into this specific situation (building `... string -> prometheus.Labels`) as far I see in their source code (https://github.com/prometheus/client_golang)

I did, however, notice that all the go-kit use cases for `makeLabels()` is simply to create a `prometheus.Labels` argument for the prometheus MetricVectors such as the Counter (https://github.

[2017-12-03 08:41] chrismeh opened #634 "Using dep with go-kit"
I just tried to add go-kit using `dep` and stumbled upon these errors:

[code]

dep Version:
 version     : v0.3.2
 build date  : 2017-10-19
 git hash    : 8ddfc8a
 go version  : go1.9
 go compiler : gc
 platform    : linux/amd64

Has anyone been able to find a workaround for this?

[2017-12-03 08:44] antoniomo commented on #634
Try:

[code]
in your `Gopkg.toml`

[2017-12-03 08:52] chrismeh commented on #634
Thanks for your help. Unfortunately, this just alters the error message:

[code]

[2017-12-03 09:25] antoniomo commented on #634
You are trying to add go-kit to what exactly? Your own project? filehero/tag-suggestion-service? I suggest you remove `Gopkg.lock`, and try `dep ensure` again, there's no reason why it would try to introduce anything except go-kit/kit@master after adding that constraint in `Gopkg.toml`

[2017-12-03 12:20] peterbourgon commented on #634
You can't include `github.com/go-kit/kit` directly; as the error messages are telling you, there aren't any buildable Go source files at that path. You need to import whichever specific Go kit packages you want to use in your code, for example `github.com/go-kit/kit/transport/http`, and then run `dep init` or `dep ensure`. You almost certainly shouldn't be running `dep ensure -add` directly.

[2017-12-03 14:48] chrismeh commented on #634
Oh well. I guess it's more about me not knowing stuff about `dep` than anything else. Quite embarrassing. Thanks for pointing me in the right direction.

[2017-12-03 14:48] #634 closed

[2017-12-04 02:38] andrey-moor opened #636 "GraphQL support"
Is there any way to use the kit with GraphQL?

[2017-12-04 16:45] nicolaiskogheim commented on #636
I use go-kit with [graphql-go/graphql](https://github.com/graphql-go/graphql) and [granateio/granate](https://github.com/granateio/granate/) at work. Granate is by a colleague of mine, which is why we can use it despite big "WORK IN PROGRESS" message 😄 .

I initially got inspiration from [narqo/test-graphql](https://github.com/narqo/test-graphql) and then created a test project at [nicolaiskogheim

[2017-12-04 16:56] nicolaiskogheim commented on #636
To outline the idea briefly: You have a GraphQL service with one http endpoint where all GraphQL requests go. GraphQL now becomes its own layer, sitting between transport and services. The GraphQL service uses service methods on your other services, so the GraphQL service needs to be constructed with those services.

[2017-12-05 00:06] HJFinch opened #637 "Docs and Reasons for the JWT API changes"
Hey there,
I wanted to understand what the reasons behind the change in the jwt package were and how this should be used now?
Is there any recommendations on how to work with this (real examples?) as this kinda happened under the hood and I was a little surprised by it, after stuff looked different (or was not working anymore).

Cheers,
Finch

[2017-12-05 08:46] peterbourgon commented on #637
Changes since when? Here are a few tickets that caused API changes, with rationale: https://github.com/go-kit/kit/issues/562, https://github.com/go-kit/kit/issues/526.

[2017-12-05 08:47] peterbourgon commented on #616
Friendly ping:

[2017-12-05 18:32] #616 closed

[2017-12-05 18:32] denniszl commented on #616
No, we ended up just wrapping the decoder. Sorry, forgot to close.

[2017-12-10 06:27] Raffo opened #639 "Add full example for kitgen"
Hi, I was having a look at the PR for `kitgen`, great stuff! I noticed though that there is no full example of how to use it to build a real service. Do you think it would make sense to add?
Additionally, I wonder why the `makeEndpoint` functions are not exported... I would use them from the main.go in a similar fashion like that:

[code]

I'm probably wrong and there is another way to do that, an

[2017-12-11 14:20] Raffo commented on #639
@peterbourgon I see that you labeled the issue, if I can get an answer to my questions in the original comment, I would be interested in contributing the examples personally ^_^

[2017-12-11 19:13] peterbourgon commented on #639
This would be a great addition to the README in that directory. PR happily accepted.

Yes, they should be exported! An oversight. PR happily accepted.

[2017-12-11 22:39] TheTincho opened #640 "Please, add proper attribution to log/term/*"
Hi,

While preparing a Debian package for go-kit, the FTP masters rejected my package because of missing attribution in log/term/*

I checked the code and it seems it is deriving from ssh/terminal (although I don't see much code coming from there) and from github.com/mattn/go-colorable. There is a LICENSE file, which does not attribute properly either work, nor their original licenses (the Go lice

[2017-12-11 22:58] peterbourgon commented on #640
I'll ping the contributors, here: @tgulacsi @ChrisHines

I think we draw from the following:

- ssh/terminal (Go license, BSD)
- gopkg.in/inconshreveable/log15.v2/term (Apache)
- github.com/mattn/go-colorable (MIT)

Any others?

What needs to be done, besides copying relevant license files in?

[2017-12-11 23:05] TheTincho commented on #640
I was looking at git history, and it seems gopkg.in/inconshreveable/log15.v2/term was the base for all, and it is what explains the odd LICENSE file.

Ideally, each file will have a proper copyright/license header, so it is all clear. Not sure how to best merge all those contributions.

[2017-12-12 00:36] ChrisHines commented on #640
Digging through the history of the various repos it appears to me that the following occurred

- terminal_*.go originally files came from:
    - https://github.com/inconshreveable/log15/commit/9f056cb28aee1e41de8786fad0fe33a2f11928cc, which derived from (approximately)
    - https://github.com/sirupsen/logrus/commit/13600d23259ccda5a64370722cc80c8928e565cb, which introduced the files at
    - http

[2017-12-12 09:51] Raffo commented on #639
I created a PR to fix the unexported functions ( https://github.com/go-kit/kit/pull/641 ), will do the docs as well later on.

[2017-12-14 17:47] ruudk opened #642 "How to use the Shipping example?"
The README doesn't explain how to use the Shipping example.

[2017-12-14 18:33] peterbourgon commented on #642
I don't understand what you mean by "how to use". Can you say what you're having trouble with?

[2017-12-14 18:35] peterbourgon commented on #637
@HJFinch Does that help? Any outstanding questions?

[2017-12-14 18:36] peterbourgon commented on #636
@andrey-moor Does that help answer your question?

[2017-12-14 18:38] peterbourgon commented on #631
Looks cool! Can you maybe commit the output of running microgen on the example svc? It would make it easier to see what you get :)

[2017-12-14 18:44] peterbourgon commented on #590
This is closed now, I think! :)

[2017-12-14 18:44] #590 closed

[2017-12-14 18:59] #584 closed

[2017-12-14 19:16] andrey-moor commented on #636
Yeah that's enough for now, thx @nicolaiskogheim

[2017-12-14 19:30] #636 closed

[2017-12-14 20:02] ruudk commented on #642
I see. I saw a talk of you at a conference, so I checked out the website, clicked examples, clicked the most interesting example, and tried to run it so see what it would do, so that I can check the code accordingly. For me, that's a good way to learn new stuff. I'm very new to Go, coming from PHP.

So if the readme would contain something like:
* execute `go run main.go`
* issue a post to /v1/...

[2017-12-14 20:08] peterbourgon commented on #642
Well, Go kit certainly assumes a base level of familiarity with how to build and run Go programs. In this case,

[code]

should get you started. A README section detailing a set of example HTTP queries to exercise the components is probably out-of-scope, but I'd be happy to take a PR, if anyone felt so inclined.

[2017-12-15 07:40] klaus opened #643 "Multiple same-name Headers are ignored"
In `transport/http/server.go` i have found 2 places where the headers are not correctly set to all values the http.Header might be holding.

http.Header is a `map[string][]string` and `.Get(k)` only returns the first of those fields from the []string array. I think to correctly handle it, we should do as the docs suggest:

[code]

which would be sthg along the lines ...
[code]

https://github.com/

[2017-12-16 18:07] peterbourgon commented on #643
Yes, fully agreed. An easy fix, where's the PR? ;)

[2017-12-18 01:11] andrey-moor commented on #295
Is anyone still working on this?

[2017-12-18 08:05] klaus commented on #643
https://github.com/go-kit/kit/pull/644

[2017-12-19 14:55] retnuh commented on #639
As someone new to go-kit and having watched a few talks that keep referencing "kitgen", I'd be happy to beta-test any examples/tutorials!

[2017-12-19 16:15] Raffo commented on #639
@nyarly I was trying to understand the way to work with `kitgen` and it looks like the service in the `service` folder is **always** overwritten. Can you confirm that this behaviour is intended? Also, I could not find the `*.tmpl` files mentioned in `ast_templates.go`, did you forget to commit them or is there something I am missing?

@retnuh I have a PR in progress, once I figure some more detail

[2017-12-19 21:26] nyarly commented on #639
Quick ack that I saw this. I'll dig in when I get I moment

On Tue, Dec 19, 2017 at 8:15 AM Raffaele Di Fazio <notifications@github.com>
wrote:

[2017-12-20 13:55] falmar opened #646 "Question: Message Queue as a transport?"
Hello,

I understand non-rpc transports are non-goals on go-kit, but we have already implemented an email service and endpoints exposed with a HTTP transport and we would like to listen for messages on RabbitMQ using AMQP protocol.

The implementation of such transport fall on us and I'm not asking for it to be implemented on go-kit but...

Question: Is it okay to reuse the Endpoint and Service la